section {
  overflow-y: scroll;
  height: 600px;
}

.sticky-header {
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
}

.body {
  position: static;
}

.clear-icon:hover {
  color: red;
}
