// @todo Built-in colors and such.
section {
  overflow-y: scroll;
  height: 75vh; // @todo Is this responsive enough for mobile resolution as well?
}

.sticky-header {
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
}

.body {
  position: static;
}

.clear-icon:hover {
  color: red;
}
