<nz-form-item>
  @if (label()) {
    <ng-container [ngTemplateOutlet]="label()"></ng-container>
  }

  <nz-radio-group [(ngModel)]="state().defaultValue" [disabled]="!inlineEdit().enabled">
    @if (state().isButton) {
      @for (item of state().options; track item) {
        <label nz-radio-button [nzValue]="item.option_id">{{ item.option_description }}</label>
      }
    } @else {
      @for (item of state().options; track item) {
        <label nz-radio [nzValue]="item.option_id">{{ item.option_description }}</label>
      }
    }
  </nz-radio-group>
</nz-form-item>
