@import '../../../../common.less';

section {
  height: 100%;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: @spacing16;
}

.body {
  position: static;
  height: calc(100vh - 54px - 64px - 64px);
  overflow-y: auto;
}

.clear-icon:hover {
  color: @accent-danger;
}

:host ::ng-deep {
  .ant-card {
    width: @width-full;
    border: @border-default;
    margin-bottom: @spacing20;
  }

  .ant-card:last-child {
    margin-bottom: 0;
  }

  .element-list {
    margin: auto;
    width: 900px;
    border: @border-default;
    padding: @spacing8;
  }
}
