@import '../../../../common.less';

section {
  overflow-y: scroll;
  height: 75vh; // @todo Is this responsive enough for mobile resolution as well?
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: @spacing16;
}

.body {
  position: static;
}

.clear-icon:hover {
  color: @accent-danger;
}

:host ::ng-deep {
  .ant-card {
    width: @width-full;
    border: @border-default;
    margin-bottom: @spacing20;
  }

  .element-list {
    margin: auto;
    width: 900px;
    border: @border-default;
    padding: @spacing8;
  }
}
