@import '../../../../colors.less';
@import '../../../../common.less';
@import '../../../../typography.less';

nz-header {
  background-color: @gray-dark;
  padding: @spacing0 clamp(@spacing16, 5vw, 80px);
  position: fixed;
  width: @width-full;
  z-index: 100;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: @height-full;

  > h1 {
    color: @white-text;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: clamp(24px, 5vw, 32px);
    margin-bottom: 0;
  }

  > div {
    font-size: clamp(18px, 2.5vw, 26px);

    > span {
      cursor: pointer;
      color: @white;
    }
  }

  > div :not(:last-child) {
    margin-right: clamp(@spacing8, 2vw, @spacing16);
  }

  div {
    line-height: 0;
  }
}

.is-active {
  color: @white-text;
}

.hidden-input {
  display: none;
}
