nz-layout {
  margin-top: 100px;
}

nz-steps {
  width: 80%;
  margin: auto;
}

.form-container {
  background-color: white;
  width: 100%;
  height: auto;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
}

@media (max-width: @breakpoint-tablet) {
  nz-layout {
    margin-top: 150px;
  }
  .form-container {
    width: 90%;
    padding: 30px;
  }

  nz-steps {
    width: 90%;
  }
}

@media (max-width: @breakpoint-mobile) {
  nz-layout {
    margin-top: 120px;
  }
  .form-container {
    width: 95%;
    padding: 20px;
  }

  nz-steps {
    width: 100%;
  }
}

@media (max-width: @breakpoint-small) {
  nz-layout {
    margin-top: 80px;
  }
  .form-container {
    width: 100%;
    padding: 15px;
  }

  nz-steps {
    width: 100%; /* Teljes szélesség */
  }
}
