<nz-form-item>
  @if (label()) {
    <ng-container [ngTemplateOutlet]="label()"></ng-container>
  }

  <nz-form-control [nzErrorTip]="errorTemplate">
    <ng-container *ngTemplateOutlet="prefixTemplate" />
    <!-- @todo width: 50%, responsiveness, etc. -->
    <nz-time-picker
      #inputComponent
      [nzFormat]="state().timeFormat"
      [required]="state().required"
      [nzDisabledHours]="disabledHours(state())"
      [nzDisabledMinutes]="disabledMinutes(state())"
      [nzDisabledSeconds]="disabledSeconds(state())"
      [nzUse12Hours]="state().use12Hours"
      [nzHideDisabledOptions]="state().hideDisabledOptions"
      [nzHourStep]="state().hourStep"
      [nzMinuteStep]="state().minuteStep"
      [nzSecondStep]="state().secondStep"
      [disabled]="!inlineEdit().enabled"
      [nzPlaceHolder]="state().placeholderValue ?? ''"
      [(ngModel)]="state().defaultValue"
      (ngModelChange)="onChange($event)"
      (mousedown)="$event.stopPropagation()"
      class="time-picker"
    ></nz-time-picker>
  </nz-form-control>
</nz-form-item>
<ng-template #errorTemplate let-control>
  @for (message of getErrorMessages(control); track message) {
    <div>{{ message }}</div>
  }
</ng-template>
<ng-template #prefixTemplate>
  @if (state().showTooltip) {
    <span
      nz-icon
      nz-tooltip
      [nzTooltipTitle]="state().tooltipText"
      nzType="info-circle"
      class="tooltip-icon"
    ></span>
  }
</ng-template>
