nz-layout {
  background-color: transparent;
  height: auto;
  padding: 10px;
}

.project-container,
.section-container {
  height: auto;
}

.json {
  white-space: pre-wrap;
  overflow-y: auto;
  max-height: 400px;
}

.json-container {
  overflow: auto;
  max-height: 430px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: flex-end;
}

.button-group button {
  margin: 0;
}

.button-group button:last-child {
  margin-right: 0;
}

/* Média lekérdezések */
@media (max-width: 1024px) {
  .json {
    max-height: 350px;
  }

  .json-container {
    max-height: 370px;
  }

  .button-group {
    justify-content: center;
  }

  .button-group button {
    flex: 1 1 calc(33% - 16px);
  }
}

@media (max-width: 768px) {
  nz-layout {
    padding: 5px;
  }

  .json {
    max-height: 300px;
  }

  .json-container {
    max-height: 320px;
  }

  .button-group {
    justify-content: center;
  }

  .button-group button {
    flex: 1 1 calc(50% - 16px);
  }
}

@media (max-width: 320px) {
  .json {
    max-height: 250px;
  }

  .json-container {
    max-height: 280px;
  }

  .button-group {
    justify-content: center;
  }

  .button-group button {
    flex: 1 1 100%;
  }
}
