<nz-content>
  <div class="toolbar">
    <div *ngIf="!isListView; else cardView" (click)="isListView = !isListView">
      <span nz-icon nzType="unordered-list" nzTheme="outline"></span>
      <span>List view</span>
      <i style="margin-left: 5px" nz-icon nzType="question-circle" nz-tooltip nzTooltipTitle="go to List view"></i>
    </div>
    <ng-template #cardView>
      <div (click)="isListView = !isListView">
        <span nz-icon nzType="appstore" nzTheme="outline"></span>
        <span>Card view</span>
        <i style="margin-left: 5px" nz-icon nzType="question-circle" nz-tooltip nzTooltipTitle="go to Card view"></i>
      </div>
    </ng-template>
  </div>
  <div class="view" *ngIf="isListView; else cardViewComponent">
    <div>
      <h3>Questionnaires</h3>
      <button (click)="createProject(projectTypes.QUESTIONNAIRE)" nz-button>
        <span nz-icon nzType="plus" nzTheme="outline"></span> New
      </button>
    </div>
    <app-list-view
      (deleteProject)="deleteProject($event)"
      (editProject)="editProject($event)"
      [projects]="projects$"
      [type]="projectTypes.QUESTIONNAIRE"
    />
    <div>
      <h3>Tests</h3>
      <button (click)="createProject(projectTypes.TEST)" nz-button><span nz-icon nzType="plus" nzTheme="outline"></span> New</button>
    </div>
    <app-list-view
      (deleteProject)="deleteProject($event)"
      (editProject)="editProject($event)"
      [projects]="projects$"
      [type]="projectTypes.TEST"
    />
  </div>
  <ng-template #cardViewComponent>
    <div class="view">
      <div>
        <h3>Questionnaires</h3>
      </div>
      <app-card-view
        [projects]="projects$"
        [type]="projectTypes.QUESTIONNAIRE"
        (createProject)="createProject($event)"
        (deleteProject)="deleteProject($event)"
        (editProject)="editProject($event)"
      ></app-card-view>
      <div>
        <h3>Tests</h3>
      </div>
      <app-card-view
        [projects]="projects$"
        [type]="projectTypes.TEST"
        (createProject)="createProject($event)"
        (deleteProject)="deleteProject($event)"
        (editProject)="editProject($event)"
      ></app-card-view>
    </div>
  </ng-template>
</nz-content>
