<form id="numberInputEditFormID" nz-form [formGroup]="formData">
  <span>Question</span>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="questionErrors">
      <input nz-input placeholder="Question" formControlName="questionValue"/>
    </nz-form-control>
    <ng-template #questionErrors let-control>
      <ng-container *ngIf="hasErrors(control, 'required')">Cannot be empty!</ng-container>
    </ng-template>
  </nz-form-item>

  <span>Description</span>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="descriptionErrors">
      <textarea nz-input nzAutosize placeholder="Description" formControlName="descriptionValue"></textarea>
    </nz-form-control>
    <ng-template #descriptionErrors let-control>
      <ng-container *ngIf="hasErrors(control, 'required')">Cannot be empty!</ng-container>
    </ng-template>
  </nz-form-item>

  <span>Set Placeholder Value</span>
  <nz-form-item>
    <nz-form-control>
      <input nz-input placeholder="Placeholder" formControlName="placeholderValue"/>
    </nz-form-control>
  </nz-form-item>

  <span>Set Default Value</span>
  <nz-form-item>
    <nz-form-control>
      <input nz-input
             type="number"
             placeholder="Default value"
             formControlName="defaultValue"/>
    </nz-form-control>
  </nz-form-item>
</form>
