@import '../../../../../common.less';

.list-header {
  border-bottom: @border-default;
  padding-bottom: @spacing12;
}

.option-description {
  max-width: clamp(140px, 45vw, 300px);
  white-space: normal;
  word-break: break-word;
}

.error-text {
  color: @accent-danger;
}

.section-container {
  padding-right: clamp(@spacing4, 2vw, @spacing12);
  margin-bottom: @spacing12;

  &:last-child {
    margin-bottom: @spacing0;
  }
}

button {
  margin-right: @spacing8;
}

::ng-deep .ant-list-item {
  padding: clamp(@spacing8, 2vw, @spacing12);
  display: flex;
  align-items: center;
}
