<form id="selectEditFormID" nz-form [formGroup]="formData">
  <nz-form-item>
    <ng-template #listHeader>
      <div class="list-header">{{ 'COMPONENTS.COMBOBOX.CHOICES_VALUES' | translate }}</div>
    </ng-template>
    <nz-form-control formArrayName="selectOptions">
      <ul nz-list cdkDropList (cdkDropListDropped)="drop($event)" nzBordered [nzHeader]="listHeader">
        @for (option of options.controls; track option.value; let i = $index) {
          <li nz-list-item cdkDrag [cdkDragData]="option">
            <ul nz-list-item-actions>
              <nz-list-item-action>
                <button nz-button nzType="link" nzDanger (click)="removeOption(option, i)">
                  {{ 'COMPONENTS.COMBOBOX.COMBOBOX_REMOVE' | translate }}
                </button>
              </nz-list-item-action>
            </ul>
            <p class="option-description">{{ option.value }}</p>
          </li>
        }
      </ul>
      @if (options.invalid) {
        <span class="error-text">{{ 'COMPONENTS.COMBOBOX.RECORD_MORE_OPTION' | translate }} {{ getMinOptions() }}</span>
      }
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="newOptionErrors">
      <nz-input-group nzSearch [nzAddOnAfter]="addOptionButton">
        <input type="text" nz-input [appMutateText]="trimString" [formControl]="newOption" />
      </nz-input-group>
      <ng-template #addOptionButton>
        <button nz-button nzType="primary" [disabled]="newOption.invalid" (click)="addOption()">
          {{ 'COMPONENTS.COMBOBOX.ADD_OPTION' | translate }}
        </button>
      </ng-template>
      <ng-template #newOptionErrors let-control>
        @if (hasErrors(control, 'required', 'fieldIsEmpty')) {
          <div>{{ 'COMPONENTS.CANNOT_BE_EMPTY' | translate }}</div>
        }
        @if (hasErrors(control, 'listContainsItem')) {
          <div>{{ 'COMPONENTS.COMBOBOX.OPTION_ALREADY' | translate }}{{ control.errors['listContainsItem'] }}!</div>
        }
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-label nzRequired>
    <span>{{ 'COMPONENTS.COMPONENT_QUESTION' | translate }}</span>
  </nz-form-label>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="questionErrors">
      <input nz-input formControlName="questionValue" />
    </nz-form-control>
    <ng-template #questionErrors let-control>
      @if (hasErrors(control, 'required')) {
        <div>{{ 'COMPONENTS.CANNOT_BE_EMPTY' | translate }}</div>
      }
    </ng-template>
  </nz-form-item>

  <nz-form-label>
    <span>{{ 'COMPONENTS.COMPONENT_DESCRIPTION' | translate }}</span>
  </nz-form-label>
  <nz-form-item>
    <nz-form-control>
      <textarea nz-input nzAutosize formControlName="descriptionValue"></textarea>
    </nz-form-control>
  </nz-form-item>

  <nz-form-label>
    <span>{{ 'COMPONENTS.SET_PLACEHOLDER_VALUE' | translate }}</span>
  </nz-form-label>
  <nz-form-item>
    <nz-form-control>
      <input nz-input formControlName="placeholderValue" />
    </nz-form-control>
  </nz-form-item>

  <div class="section-container">
    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="setDefaultValue">{{ 'COMPONENTS.SET_DEFAULT_VALUE?' | translate }}</label>
      </nz-form-control>
    </nz-form-item>
    @if (getControlValue('setDefaultValue')) {
      <nz-form-label [nzRequired]="getControlValue('required')">
        <span>{{ 'COMPONENTS.SET_DEFAULT_VALUE' | translate }}</span>
      </nz-form-label>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="defaultValueErrorTemplate">
          <nz-select formControlName="defaultValue" [nzMode]="isMultipleChoice ? 'multiple' : 'default'" nzAllowClear>
            @for (option of optionsValues; track option) {
              <nz-option [nzLabel]="option" [nzValue]="option"></nz-option>
            }
          </nz-select>
        </nz-form-control>
        <ng-template #defaultValueErrorTemplate let-control>
          @for (message of getErrorMessages(control); track message) {
            <div>{{ message }}</div>
          }
        </ng-template>
      </nz-form-item>
    }
  </div>

  <nz-form-label>
    <span>{{ 'COMPONENTS.COMBOBOX.IS_MULTIPLE_CHOICE' | translate }}</span>
  </nz-form-label>
  <nz-form-item>
    <nz-form-control>
      <label nz-checkbox formControlName="isMultipleChoice">{{ 'COMPONENTS.COMBOBOX.MULTIPLE' | translate }}</label>
    </nz-form-control>
  </nz-form-item>

  <div class="section-container">
    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="required">{{ 'COMPONENTS.IS_REQUIRED' | translate }}</label>
      </nz-form-control>
    </nz-form-item>
    @if (getControlValue('required')) {
      <nz-form-label [nzRequired]="getControlValue('required')">
        <span>{{ 'COMPONENTS.PLACEHOLDER_ERROR_REQUIRED' | translate }}</span>
      </nz-form-label>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="requiredErrorMessageTemplate">
          <input nz-input formControlName="requiredMessage" />
        </nz-form-control>
        <ng-template #requiredErrorMessageTemplate let-control>
          @if (hasErrors(control, 'required')) {
            <div>{{ 'COMPONENTS.IS_FIELD_REQUIRED' | translate }}</div>
          }
        </ng-template>
      </nz-form-item>
    }
  </div>

  <div class="section-container">
    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="showTooltip">{{ 'COMPONENTS.INPUT_TOOLTIP' | translate }}</label>
      </nz-form-control>
    </nz-form-item>
    @if (getControlValue('showTooltip')) {
      <nz-form-label nzRequired>
        <span>{{ 'COMPONENTS.TOOLTIP_TEXT' | translate }}</span></nz-form-label
      >
      <nz-form-item>
        <nz-form-control [nzErrorTip]="tooltipTextErrorMessageTemplate">
          <input nz-input formControlName="tooltipText" />
        </nz-form-control>
        <ng-template #tooltipTextErrorMessageTemplate let-control>
          @if (hasErrors(control, 'required')) {
            <div>{{ 'COMPONENTS.PROVIDE_TOOLTIP' | translate }}</div>
          }
        </ng-template>
      </nz-form-item>
    }
  </div>
</form>
