<form id="pictureInputEditFormID" nz-form [formGroup]="formData">
  <nz-form-label nzRequired
    ><span>{{ 'COMPONENTS.COMPONENT_QUESTION' | translate }}</span></nz-form-label
  >
  <nz-form-item>
    <nz-form-control [nzErrorTip]="questionErrors">
      <input nz-input formControlName="questionValue" />
    </nz-form-control>
    <ng-template #questionErrors let-control>
      @if (hasErrors(control, 'required')) {
        <div>{{ 'COMPONENTS.CANNOT_BE_EMPTY' | translate }}</div>
      }
    </ng-template>
  </nz-form-item>

  <nz-form-label>
    <span>{{ 'COMPONENTS.COMPONENT_DESCRIPTION' | translate }}</span>
  </nz-form-label>
  <nz-form-item>
    <nz-form-control>
      <quill-editor
        formControlName="descriptionValue"
        [style]="{ height: '150px', width:'100%' }" [placeholder]="''"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-label>
    <span>{{ 'COMPONENTS.SET_PLACEHOLDER_VALUE' | translate }}</span>
  </nz-form-label>
  <nz-form-item>
    <nz-form-control>
      <input nz-input formControlName="placeholderValue" />
    </nz-form-control>
  </nz-form-item>
</form>
