<nz-layout>
  <nz-sider nzWidth="300px" nzTheme="light" class="sider-sticky">
    <app-sidebar [sidebarData]="sideBarData" />
  </nz-sider>
  <nz-layout class="inner-layout">
    <nz-content>
      <!-- @todo Hacky styling, "margin-bottom: 50px" is rarely intended and could cause issues. -->
      <div
        class="form-container"
        id="sectionDropList"
        cdkDropList
        (cdkDropListDropped)="dropIntoEdit($event)"
        [cdkDropListData]="editList"
        [cdkDropListConnectedTo]="getEditDropListConnectedTo()"
      >
        @for (edit of editList; track edit) {
          @if (edit.data | instanceOfSectionList) {
            <!-- @todo Built-in widths will probably break responsiveness. Maybe we should prefer flex design? -->
            <nz-card
              [id]="edit.data.sectionId"
              [nzTitle]="sectionTitle"
              [nzExtra]="sectionButtons"
              cdkDrag
              cdkDropList
              [cdkDropListOrientation]="edit.data.layout"
              [cdkDropListConnectedTo]="getSectionDropListConnectedTo(edit.data)"
              [cdkDropListData]="edit.data.sectionInputs"
              [cdkDropListEnterPredicate]="sectionDropListEnterPredicate"
              (cdkDropListDropped)="dropIntoSection($event)"
              class="element-list p-3 section-card"
              [nzBodyStyle]="
                edit.data.layout === LayoutEnum.HORIZONTAL
                  ? {
                      display: 'flex',
                      padding: '15px',
                      'padding-bottom': '24px',
                    }
                  : {
                      padding: '15px',
                      'padding-bottom': '24px',
                    }
              "
            >
              <ng-template #sectionTitle>
                <div class="section-title">
                  {{ 'EDIT.SECTION' | translate }}
                  <span class="section-id"
                    >[ID: {{ edit.data.sectionId }} | {{ 'EDIT.LAYOUT' | translate }}:
                    {{ 'EDIT.LAYOUT_TYPE.' + (edit.data.layout | uppercase) | translate }}]</span
                  >
                </div>
              </ng-template>
              <ng-template #sectionButtons>
                <div class="section-buttons">
                  <span>{{ 'COMPONENTS.REORDER' | translate }}: </span>
                  <nz-switch [(ngModel)]="edit.data.reorderEnabled"></nz-switch>
                  <button nz-button nzType="default" nzShape="circle" (click)="sectionLayoutChange(edit.data)" class="button-spacing">
                    <span nz-icon nzType="redo" nzTheme="outline"></span>
                  </button>
                  <!-- @todo The templates are filled with different margins. These must be uniform as well, maybe we should prefer classes, such as m-l-10? -->
                  <button
                    nz-popconfirm
                    [nzPopconfirmTitle]="'COMPONENTS.INPUT_HOLDER.POP_REMOVE' | translate"
                    [nzCancelText]="'GENERAL.CANCEL' | translate"
                    [nzOkText]="'GENERAL.OK' | translate"
                    (nzOnConfirm)="removeEditComponent(edit)"
                    nzPopconfirmPlacement="top"
                    nz-button
                    nzType="default"
                    nzDanger
                    nzShape="circle"
                    class="button-spacing"
                  >
                    <span nz-icon nzType="delete" nzTheme="outline"></span>
                  </button>
                </div>
              </ng-template>

              @for (item of edit.data.sectionInputs; track item) {
                <app-input-holder
                  class="element-box input-holder"
                  cdkDrag
                  [cdkDragData]="item"
                  [ngStyle]="getSectionInputStyle(edit.data)"
                  [formInput]="item"
                  [inlineEdit]="inlineEdit"
                  (removeComponentEvent)="removeSectionComponent(edit.data, $event)"
                  (changedEvent)="onValueChanged($event)"
                />
              }
            </nz-card>
          } @else if (edit.data | instanceOfFormInputData) {
            <!-- @todo Again, a large built-in width and lots of margins, the code should be reviewed for similar cases. -->
            <app-input-holder
              class="element-box standalone-input-holder"
              cdkDrag
              [id]="edit.id"
              [cdkDragData]="edit"
              [formInput]="edit.data"
              [inlineEdit]="inlineEdit"
              (removeComponentEvent)="removeEditComponent(edit)"
              (changedEvent)="onValueChanged($event)"
            />
          }
        }
      </div>
    </nz-content>
  </nz-layout>
  <nz-sider nzWidth="300px" nzTheme="light" class="right-sider">
    <h3>{{ 'COMPONENTS.USED_COMPONENTS' | translate }}</h3>
    <div
      class="components-list"
      id="structureList"
      cdkDropList
      [cdkDropListConnectedTo]="[]"
      (cdkDropListDropped)="dropIntoEdit($event)"
      [cdkDropListData]="editList"
    >
      @for (edit of editList; track edit) {
        @if (edit.data | instanceOfSectionList) {
          <div class="component-item section-item" cdkDrag [cdkDragData]="edit">
            <div class="section-header">
              <span nz-icon nzType="layout" nzTheme="outline"></span>
              <span class="component-title">{{ 'EDIT.SECTION' | translate | uppercase }}</span>
              <span class="hover-icon" (click)="scrollToElement(edit.data.sectionId)">
              <span nz-icon nzType="aim" nzTheme="outline"></span>
            </span>
            </div>
          </div>
        } @else if (edit.data | instanceOfFormInputData) {
          <div class="component-item" cdkDrag [cdkDragData]="edit">
            <span nz-icon [nzType]="edit.data.type | ComponentIconsPipe " nzTheme="outline"></span>
            <span class="component-title">{{ edit.data.title | translate }}</span>
            <span class="hover-icon" (click)="edit.id && scrollToElement(edit.id)">
            <span nz-icon nzType="aim" nzTheme="outline"></span>
          </span>
          </div>
        }
      }
    </div>
  </nz-sider>

</nz-layout>
