<nz-layout>
  <nz-sider nzWidth="300px" nzTheme="light" class="sider-sticky">
    <app-sidebar [sidebarData]="sideBarData" />
  </nz-sider>
  <nz-layout class="inner-layout">
    <nz-content>
      <!-- @todo Hacky styling, "margin-bottom: 50px" is rarely intended and could cause issues. -->
      <div class="form-container" id="sectionDropList" cdkDropList (cdkDropListDropped)="dropIntoEdit($event)"
        [cdkDropListData]="editList" [cdkDropListConnectedTo]="getEditDropListConnectedTo()">
        @for (edit of editList; track edit) {
        @if (edit.data | instanceOfSectionList) {
        <!-- @todo Built-in widths will probably break responsiveness. Maybe we should prefer flex design? -->
        <nz-card [id]="edit.id" [nzTitle]="sectionTitle" [nzExtra]="sectionButtons" cdkDrag cdkDropList
          [cdkDropListOrientation]="edit.data.layout"
          [cdkDropListConnectedTo]="getSectionDropListConnectedTo(edit.data)"
          [cdkDropListData]="edit.data.sectionInputs || []" [cdkDropListEnterPredicate]="sectionDropListEnterPredicate"
          (cdkDropListDropped)="dropIntoSection($event)" class="element-list p-3 section-card" [nzBodyStyle]="
                edit.data.layout === LayoutEnum.HORIZONTAL
                  ? {
                      display: 'flex',
                      padding: '15px',
                      'padding-bottom': '24px',
                    }
                  : {
                      padding: '15px',
                      'padding-bottom': '24px',
                    }
              ">
          <ng-template #sectionTitle>
            <app-edit-name [edit]="edit" [names]="names" (updateName)="updateName()"></app-edit-name>
          </ng-template>

          <ng-template #sectionButtons>
            <span>{{ 'COMPONENTS.REORDER' | translate }}: </span>
            <nz-switch [(ngModel)]="edit.data.reorderEnabled"></nz-switch>
            <button nz-button nzType="default" nzShape="circle" (click)="sectionLayoutChange(edit.data)"
              class="button-spacing">
              <span nz-icon nzType="redo" nzTheme="outline"></span>
            </button>
            <!-- @todo The templates are filled with different margins. These must be uniform as well, maybe we should prefer classes, such as m-l-10? -->
            <button nz-popconfirm [nzPopconfirmTitle]="'COMPONENTS.INPUT_HOLDER.POP_REMOVE' | translate"
              [nzCancelText]="'GENERAL.CANCEL' | translate" [nzOkText]="'GENERAL.OK' | translate"
              (nzOnConfirm)="removeEditComponent(edit)" nzPopconfirmPlacement="top" nz-button nzType="default" nzDanger
              nzShape="circle" class="button-spacing">
              <span nz-icon nzType="delete" nzTheme="outline"></span>
            </button>
          </ng-template>

          @for (item of edit.data.sectionInputs; track item) {
          <ng-template #inputTitleTemp>
            <app-edit-name [edit]="item" [names]="names" (updateName)="updateName()"></app-edit-name>
          </ng-template>

          <app-input-holder [id]="item.data?.id" class="element-box input-holder" cdkDrag [customTitle]="inputTitleTemp"
            [cdkDragData]="item" [ngStyle]="getSectionInputStyle(edit.data)" [formInput]="item"
            [inlineEdit]="inlineEdit" (removeComponentEvent)="removeSectionComponent(edit.data, $event)"
            (changedEvent)="onValueChanged($event)" />
          }
        </nz-card>
        } @else if (edit.data | instanceOfFormInputData) {
        <ng-template #inputTitleTemp>
          <app-edit-name [edit]="edit" [names]="names" (updateName)="updateName()"></app-edit-name>
        </ng-template>

        <!-- @todo Again, a large built-in width and lots of margins, the code should be reviewed for similar cases. -->
        <app-input-holder class="element-box standalone-input-holder" cdkDrag [id]="edit.id"
          [customTitle]="inputTitleTemp" [cdkDragData]="edit" [formInput]="edit.data" [inlineEdit]="inlineEdit"
          (removeComponentEvent)="removeEditComponent(edit)" (changedEvent)="onValueChanged($event)" />
        }
        }
      </div>
    </nz-content>
  </nz-layout>

  <nz-sider nzWidth="300px" nzTheme="light" class="right-sider">
    <h3>{{ 'COMPONENTS.USED_COMPONENTS' | translate }}</h3>
    <div class="components-list" id="structureList" cdkDropList [cdkDropListConnectedTo]="[]"
      (cdkDropListDropped)="dropIntoEdit($event)" [cdkDropListData]="editList">
      @for (edit of editList; track edit) {
      @if (edit.data | instanceOfSectionList) {
      <div class="section-item" cdkDrag [cdkDragData]="edit">
        <div class="section-children">
          <nz-collapse [nzBordered]="false">
            <nz-collapse-panel nzActive [nzShowArrow]="false" [nzHeader]="nzHeader" style="padding: 0;">

              <ng-template #nzHeader>
                <div class="component-item section-header">
                  <nz-icon class="mr-4" [nzType]="((edit.data | instanceOfFormInputData)
            ? edit.data.type
            : 'layout') | ComponentIconsPipe"></nz-icon>

                  <span class="component-title">
                    {{
                    edit.data.customTitle
                    ? edit.data.customTitle
                    : ('COMPONENTS.SECTION.TITLE.SINGULAR' | translate)
                    }}
                  </span>

                  <span class="hover-icon" (click)="scrollToElement(edit.id); $event.stopPropagation()">
                    <span nz-icon nzType="aim"></span>
                  </span>
                </div>
              </ng-template>

              @for (child of returnChildren(edit.data); track child.id) {
              <div class="component-item section-item">
                {{child.title | translate}}
                <span class="hover-icon" (click)="scrollToElement(child.id)">
                  <span nz-icon nzType="aim" nzTheme="outline"></span>
                </span>
              </div>
              }

            </nz-collapse-panel>
          </nz-collapse>

        </div>
      </div>
      } @else if (edit.data | instanceOfFormInputData) {
      <div class="component-item" cdkDrag [cdkDragData]="edit">
        <nz-icon class="mr-4"
          [nzType]="((edit.data | instanceOfFormInputData) ? edit.data.type : 'layout') | ComponentIconsPipe" nz-tooltip
          [nzTooltipTitle]="((edit.data | instanceOfFormInputData) ? edit.data.title : 'COMPONENTS.SECTION.TITLE.SINGULAR') | translate"></nz-icon>

        <span class="component-title">{{ edit.data.customTitle ? edit.data.customTitle : (edit.data.title | translate)
          }}</span>
        <span class="hover-icon" (click)="edit.id && scrollToElement(edit.id)">
          <span nz-icon nzType="aim" nzTheme="outline"></span>
        </span>
      </div>
      }
      }
    </div>
  </nz-sider>
</nz-layout>