<nz-layout>
  <div>
    <app-edit [inlineEdit]="inlineEdit" [projectId]="projectId" [versionNum]="currentVersionNum"></app-edit>

    <div
      nz-row
      id="footerdiv"
    >
      <div nz-col nzSpan="22"></div>
      <div nz-row nzJustify="start" nzAlign="middle" class="full-width">
        <button
          nz-button
          nzType="primary"
          type="submit"
          (click)="nextPage()"
          class="button-margin next-button"
          [disabled]="isNextButtonDisabled"
          nz-tooltip="{{ 'components.NEXT_TOOLTIP' | translate }}"
        >
          {{ 'general.NEXT' | translate }}
        </button>

        <div>
          <button nz-button nzType="default" (click)="navigateVersion(1)" [disabled]="!hasNextVersion()" class="version-button">
            {{ 'components.NEXT_VERSION' | translate }}
          </button>
        </div>

        <div>
          <nz-select
            [(ngModel)]="currentVersionNum"
            (ngModelChange)="revertToVersion($event)"
            nzPlaceHolder="{{ 'components.SELECT_VERSION' | translate }}"
            class="version-select"
          >
            @for (version of projectHistory; track $index) {
              <nz-option [nzValue]="version.versionNum" [nzLabel]="('project.VERSION' | translate) + ' ' + version.versionNum"></nz-option>
            }
          </nz-select>
        </div>

        <div>
          <button nz-button nzType="default" (click)="navigateVersion(-1)" [disabled]="!hasPreviousVersion()" class="version-button">
            {{ 'components.PREVIOUS_VERSION' | translate }}
          </button>
        </div>

        <div class="redo-undo-container">
          <app-redo-undo (sectionInputsChange)="onSectionInputsChange($event)"> </app-redo-undo>
        </div>

        <div class="inline-edit-container">
          <label nz-checkbox [(ngModel)]="inlineEdit.enabled">Inline edit</label>
        </div>
      </div>
    </div>
  </div>
</nz-layout>
