<nz-layout>
  <div>
    <app-edit [projectId]="projectId" [versionNum]="currentVersionNum"></app-edit>
    <div nz-row id="footerdiv">
      <div nz-col nzSpan="22"></div>
      <div nz-row nzJustify="end" nzAlign="middle" style="width: 100%">
        <div nz-col>
          <button nz-button nzType="default" (click)="navigateVersion(-1)" [disabled]="!hasPreviousVersion()">Previous Version</button>
        </div>

        <div nz-col>
          <nz-select [(ngModel)]="currentVersionNum" (ngModelChange)="onVersionSelect($event)" nzPlaceHolder="Select Version">
            <nz-option
              *ngFor="let version of projectHistory"
              [nzValue]="version.versionNum"
              [nzLabel]="'Version ' + version.versionNum"
            ></nz-option>
          </nz-select>
        </div>

        <div nz-col nzSpan="2">
          <button nz-button nzType="default" (click)="navigateVersion(1)" [disabled]="!hasNextVersion()">Next Version</button>
        </div>

        <div nz-col nz>
          <button nz-button nzType="primary" type="submit" (click)="nextPage()">Save</button>
        </div>
      </div>
    </div>
  </div>
</nz-layout>
