<nz-form-item>
  @if (label()) {
    <ng-container [ngTemplateOutlet]="label()"></ng-container>
  }

  <nz-form-control [nzErrorTip]="errorTemplate">
    <ng-container *ngTemplateOutlet="prefixTemplate" />
    <nz-select
      #inputComponent
      [required]="state().required"
      [disabled]="!inlineEdit().enabled"
      [nzPlaceHolder]="state().placeholderValue ?? ''"
      [nzMode]="state().isMultipleChoice ? 'multiple' : 'default'"
      [(ngModel)]="state().defaultValue"
      (ngModelChange)="onChange($event)"
      (mousedown)="$event.stopPropagation()"
      nzAllowClear
    >
      @for (answerOption of state().selectOptions; track answerOption) {
        <nz-option [nzValue]="answerOption" [nzLabel]="answerOption"></nz-option>
      }
    </nz-select>
  </nz-form-control>
</nz-form-item>
<ng-template #errorTemplate let-control>
  @for (message of getErrorMessages(control); track message) {
    <div>{{ message }}</div>
  }
</ng-template>
<ng-template #prefixTemplate>
  @if (state().showTooltip) {
    <span nz-icon nz-tooltip [nzTooltipTitle]="state().tooltipText" nzType="info-circle"></span>
  }
</ng-template>
