<!--
  ~ <<licensetext>>
  -->

<nz-layout>
  <div>
    <form nz-form class="form-margin-top" (ngSubmit)="submitForm()" [formGroup]="form">
      <nz-form-label [nzFor]="'title'" nz-col nzSpan="24" class="title-label" nzRequired>
        <h4>{{ 'GENERAL.TITLE' | translate }}</h4>
        <i
          nz-icon
          nzType="question-circle"
          nz-tooltip
          [nzTooltipTitle]="'FORM.FORM_TITLE_TOOLTIP' | translate"
          class="icon-margin-small"
        ></i>
      </nz-form-label>
      <nz-form-control nz-col nzSpan="24">
        <div class="mb-8">
          <input
            nz-input
            type="text"
            class="formelement"
            id="title"
            formControlName="title"
            (change)="updateForm()"
            required
            [ngClass]="{ 'input-error': form.controls['title'].invalid && (form.controls['title'].touched || saveFailed) }"
          />
          @if (form.controls['title'].invalid && (form.controls['title'].touched || saveFailed)) {
            <div>
              <span class="error-message">{{ 'FORM.TITLE_REQUIRED' | translate }}</span>
            </div>
          }
        </div>
      </nz-form-control>

      <nz-form-label [nzFor]="'description'" nz-col nzSpan="24" class="description-label">
        <span> {{ 'GENERAL.DESCRIPTION' | translate }}</span>
        <span class="optional-text"> {{ 'FORM.OPTIONAL' | translate }} </span>
        <i
          nz-icon
          nzType="question-circle"
          nz-tooltip
          [nzTooltipTitle]="'FORM.FORM_DESCRIPTION_TOOLTIP' | translate"
          class="icon-margin-small"
        ></i>
      </nz-form-label>

      <nz-form-control nz-col nzSpan="24">
        <quill-editor formControlName="description" (onContentChanged)="updateForm()" [style]="{ height: '150px' }"> </quill-editor>

        <div *ngIf="form.controls['description'].invalid && (form.controls['description'].touched || saveFailed)">
          <span class="error-message">{{ 'FORM.DESCRIPTION_REQUIRED' | translate }}</span>
        </div>
      </nz-form-control>

      <hr />

      <ng-container>
        <nz-form-item class="same_line mb-8">
          <nz-form-label [nzNoColon]="true">{{ 'VERSION' | translate }}</nz-form-label>
          <nz-switch
            formControlName="type"
            id="switch"
            (change)="updateForm()"
            [nzCheckedChildren]="'FORM.TEST' | translate"
            [nzUnCheckedChildren]="'FORM.QUESTIONNAIRE' | translate"
          >
          </nz-switch>
          <nz-form-label [nzNoColon]="true">
            <i nz-icon nzType="question-circle" nz-tooltip [nzTooltipTitle]="'FORM.SWITCH_TOOLTIP' | translate" class="icon-flex"></i>
          </nz-form-label>
        </nz-form-item>
      </ng-container>

      <nz-form-item class="same_line mb-8">
        <label nz-checkbox formControlName="hasdeadline"></label>
        <nz-form-label [nzNoColon]="true"
          >{{ 'GENERAL.DEADLINE' | translate }}
          <i
            nz-icon
            nzType="question-circle"
            nz-tooltip
            [nzTooltipTitle]="'FORM.DEADLINE_TOOLTIP' | translate"
            class="icon-margin-small"
          ></i>
        </nz-form-label>
        @if (form.controls['hasdeadline'].value) {
          <nz-date-picker [nzFormat]="DateFormat.DATE" id="deadline" formControlName="deadline" (change)="updateForm()"></nz-date-picker>
        }
      </nz-form-item>

      <nz-form-item class="same_line mb-8">
        <label nz-checkbox formControlName="haslimit"></label>
        <nz-form-label [nzNoColon]="true"
          >{{ 'GENERAL.TIME_LIMIT' | translate }}
          <i
            class="icon-margin-small"
            nz-icon
            nzType="question-circle"
            nz-tooltip
            [nzTooltipTitle]="'FORM.TIME_LIMIT_TOOLTIP' | translate"
          ></i>
        </nz-form-label>
        @if (form.controls['haslimit'].value) {
          <nz-time-picker [nzFormat]="DateFormat.HOUR_MINUTE" formControlName="limit" (change)="updateForm()"></nz-time-picker>
        }
      </nz-form-item>

      @if (formExists) {
        <ng-container>
          <div>
            <div class="mb-8">
              <nz-form-label>{{ 'GENERAL.CREATED' | translate }}</nz-form-label>
              <nz-form-label [nzNoColon]="true">{{ project.created | date: DateFormat.DATE }}</nz-form-label>
            </div>
            <div class="mb-8">
              <nz-form-label>{{ 'GENERAL.MODIFIED' | translate }}</nz-form-label>
              <nz-form-label [nzNoColon]="true">{{ project.modified | date: DateFormat.DATE }}</nz-form-label>
            </div>
          </div>
        </ng-container>
      }

      <div class="saveBtn mb-8">
        <button id="btn" nz-button nzType="primary" type="submit">{{ 'GENERAL.NEXT' | translate }}</button>
      </div>
    </form>
  </div>
</nz-layout>
