@import '../../../../common.less';

.section-container {
  border: @border-default;
  padding-left: @padding8;
  padding-right: @padding8;
  margin-bottom: @padding8;
}

.section-container:last-child {
  margin-bottom: @spacing0;
}

.time-picker {
  width: @width-full;
}

@media (max-width: 576px) {
  .time-picker {
    width: 100% !important;
  }

  :host ::ng-deep nz-input-number {
    width: 100%;
  }

  .section-container {
    padding-left: 8px;
    padding-right: 8px;
  }
}
