<form id="datePickerEditFormID" nz-form [formGroup]="formData">
  <nz-divider nzText="{{ 'COMPONENTS.DIVIDER_GENERAL' | translate }}" nzOrientation="left"></nz-divider>
  <nz-form-label nzRequired
    >{{ 'COMPONENTS.COMPONENT_QUESTION' | translate }}</nz-form-label
  >
  <nz-form-item>
    <nz-form-control [nzErrorTip]="questionErrors">
      <input nz-input formControlName="questionValue" />
    </nz-form-control>
    <ng-template #questionErrors let-control>
      @if (hasErrors(control, 'required')) {
        <div>{{ 'COMPONENTS.CANNOT_BE_EMPTY' | translate }}</div>
      }
    </ng-template>
  </nz-form-item>

  <nz-form-label>
    {{ 'COMPONENTS.COMPONENT_DESCRIPTION' | translate }}
  </nz-form-label>
  <nz-form-item>
    <nz-form-control>
      <textarea nz-input nzAutosize formControlName="descriptionValue"></textarea>
    </nz-form-control>
  </nz-form-item>
  <nz-divider nzText="{{ 'COMPONENTS.DIVIDER_PLACEHOLDER' | translate }}" nzOrientation="left"></nz-divider>
  <nz-form-label>
    {{ 'COMPONENTS.SET_PLACEHOLDER_VALUE' | translate }}
  </nz-form-label>
  <nz-form-item>
    <nz-form-control>
      <input nz-input formControlName="placeholderValue" />
    </nz-form-control>
  </nz-form-item>

  <nz-divider></nz-divider>
  <div class="section-container">
    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="setDefaultValue">{{ 'COMPONENTS.SET_DEFAULT_VALUE?' | translate }}</label>
      </nz-form-control>
    </nz-form-item>
    @if (getControlValue('setDefaultValue')) {
      <div>
        <nz-form-label [nzRequired]="getControlValue('required')"
          >{{ 'COMPONENTS.SET_DEFAULT_VALUE' | translate }}
        </nz-form-label>
        <nz-form-item>
          <nz-form-control [nzErrorTip]="defaultValueErrorTemplate">
            <nz-time-picker
              [nzFormat]="getControlValue('timeFormat')"
              [nzDisabledHours]="disabledHours(rawFormData)"
              [nzDisabledMinutes]="disabledMinutes(rawFormData)"
              [nzDisabledSeconds]="disabledSeconds(rawFormData)"
              [nzUse12Hours]="getControlValue('use12Hours')"
              [nzHideDisabledOptions]="getControlValue('hideDisabledOptions')"
              [nzHourStep]="getControlValue('hourStep')"
              [nzMinuteStep]="getControlValue('minuteStep')"
              [nzSecondStep]="getControlValue('secondStep')"
              [nzPlaceHolder]="'COMPONENTS.SELECT_DATE' | translate"
              formControlName="defaultValue"
              class="time-picker"
            ></nz-time-picker>
          </nz-form-control>
          <ng-template #defaultValueErrorTemplate let-control> helpers </ng-template>
        </nz-form-item>
      </div>
    }
  </div>

  <nz-divider nzText="{{ 'COMPONENTS.DIVIDER_TIME_SETTINGS' | translate }}" nzOrientation="left"></nz-divider>
  <nz-form-label nzRequired>
    {{ 'COMPONENTS.TIME_PICKER.TIME_FORMAT' | translate }}
  </nz-form-label>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="timeFormatErrors">
      <input nz-input formControlName="timeFormat" />
    </nz-form-control>
    <ng-template #timeFormatErrors let-control>
      @if (hasErrors(control, 'required')) {
        <div>{{ 'COMPONENTS.CANNOT_BE_EMPTY' | translate }}</div>
      }
    </ng-template>
  </nz-form-item>

  <nz-form-label>
    {{ 'COMPONENTS.TIME_PICKER.12_HOUR_FORMAT' | translate }}
  </nz-form-label>
  <nz-form-item>
    <nz-form-control>
      <label nz-checkbox formControlName="use12Hours">{{ 'COMPONENTS.TIME_PICKER.12_HOUR_FORMAT?' | translate }}</label>
    </nz-form-control>
  </nz-form-item>

  <nz-form-label>
    {{ 'COMPONENTS.TIME_PICKER.HIDE_DISABLED_OPTIONS' | translate }}
  </nz-form-label>
  <nz-form-item>
    <nz-form-control>
      <label nz-checkbox formControlName="hideDisabledOptions">{{ 'COMPONENTS.TIME_PICKER.HIDE_DISABLED_OPTIONS' | translate }}</label>
    </nz-form-control>
  </nz-form-item>

  <nz-divider nzText="{{ 'COMPONENTS.DIVIDER_STEP_SETTINGS' | translate }}" nzOrientation="left"></nz-divider>
  <div class="section-container">
    <nz-form-label nzRequired>
      {{ 'COMPONENTS.TIME_PICKER.SET_HOUR_STEP' | translate }}
    </nz-form-label>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="hourStepNumberErrors">
        <nz-input-number formControlName="hourStep" [nzMin]="1" [nzMax]="24" [nzStep]="1"></nz-input-number>
      </nz-form-control>
      <ng-template #hourStepNumberErrors let-control>
        @if (hasErrors(control, 'required')) {
          <div>{{ 'COMPONENTS.CANNOT_BE_EMPTY' | translate }}</div>
        }
        @if (hasErrors(control, 'maxError')) {
          <div>{{ 'COMPONENTS.TIME_PICKER.LARGER_THAN_24' | translate }}</div>
        }
      </ng-template>
    </nz-form-item>

    <nz-form-label nzRequired>
      {{ 'COMPONENTS.TIME_PICKER.SET_MINUTE_STEP' | translate }}
    </nz-form-label>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="minuteStepNumberErrors">
        <nz-input-number formControlName="minuteStep" [nzMin]="1" [nzMax]="60" [nzStep]="1"></nz-input-number>
      </nz-form-control>
      <ng-template #minuteStepNumberErrors let-control>
        @if (hasErrors(control, 'required')) {
          <div>{{ 'COMPONENTS.CANNOT_BE_EMPTY' | translate }}</div>
        }
        @if (hasErrors(control, 'maxError')) {
          <div>{{ 'COMPONENTS.TIME_PICKER.LARGER_THAN_60' | translate }}</div>
        }
      </ng-template>
    </nz-form-item>

    <nz-form-label nzRequired>
      {{ 'COMPONENTS.TIME_PICKER.SET_SECOND_STEP' | translate }}
    </nz-form-label>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="secondStepNumberErrors">
        <nz-input-number formControlName="secondStep" [nzMin]="1" [nzMax]="60" [nzStep]="1"></nz-input-number>
      </nz-form-control>
      <ng-template #secondStepNumberErrors let-control>
        @if (hasErrors(control, 'required')) {
          <div>{{ 'COMPONENTS.CANNOT_BE_EMPTY' | translate }}</div>
        }
        @if (hasErrors(control, 'maxError')) {
          <div>{{ 'COMPONENTS.TIME_PICKER.LARGER_THAN_60' | translate }}</div>
        }
      </ng-template>
    </nz-form-item>
  </div>

  <nz-divider nzText="{{ 'COMPONENTS.DIVIDER_VALIDATION' | translate }}" nzOrientation="left"></nz-divider>
  <div class="section-container">
    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="required">{{ 'COMPONENTS.IS_REQUIRED' | translate }}</label>
      </nz-form-control>
    </nz-form-item>
    @if (getControlValue('required')) {
      <div>
        <nz-form-label [nzRequired]="getControlValue('required')">
          {{ 'COMPONENTS.PLACEHOLDER_ERROR_REQUIRED' | translate }}
        </nz-form-label>
        <nz-form-item>
          <nz-form-control [nzErrorTip]="requiredErrorMessageTemplate">
            <!-- @Todo: FormControlName translate ? -->
            <input nz-input formControlName="{{ 'COMPONENTS.PLACEHOLDER_ERROR_REQUIRED' | translate }}" />
          </nz-form-control>
          <ng-template #requiredErrorMessageTemplate let-control>
            @if (hasErrors(control, 'required')) {
              <div>{{ 'COMPONENTS.IS_FIELD_REQUIRED' | translate }}</div>
            }
          </ng-template>
        </nz-form-item>
      </div>
    }

    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="minTime">{{ 'COMPONENTS.TIME_PICKER.MIN_TIME_REQUIRED' | translate }}</label>
      </nz-form-control>
    </nz-form-item>
    @if (getControlValue('minTime')) {
      <div>
        <nz-form-label nzRequired
          ><span>{{ 'COMPONENTS.TIME_PICKER.MIN_TIME' | translate }}</span></nz-form-label
        >
        <nz-form-item>
          <nz-form-control [nzErrorTip]="minTimeErrorMessageTemplate">
            <nz-time-picker
              [nzFormat]="getControlValue('timeFormat')"
              [nzDisabledHours]="getDisabledMaxHours()"
              [nzDisabledMinutes]="getDisabledMaxMinutes()"
              [nzDisabledSeconds]="getDisabledMaxSeconds()"
              [nzUse12Hours]="getControlValue('use12Hours')"
              [nzHideDisabledOptions]="getControlValue('hideDisabledOptions')"
              [nzHourStep]="getControlValue('hourStep')"
              [nzMinuteStep]="getControlValue('minuteStep')"
              [nzSecondStep]="getControlValue('secondStep')"
              [nzPlaceHolder]="'COMPONENTS.TIME_PICKER.SELECT_MIN_TIME' | translate"
              formControlName="minTimeValue"
              class="time-picker"
            ></nz-time-picker>
          </nz-form-control>
          <ng-template #minTimeErrorMessageTemplate let-control>
            @if (hasErrors(control, 'required')) {
              <div>{{ 'COMPONENTS.CANNOT_BE_EMPTY' | translate }}</div>
            }
            @if (hasErrors(control, 'minMaxError')) {
              <div>
                {{ 'COMPONENTS.TIME_PICKER.MIN_TIME_LIMIT' | translate }} ({{
                  control.errors['minMaxError'] | date: getControlValue('timeFormat')
                }})!
              </div>
            }
          </ng-template>
        </nz-form-item>
      </div>
    }

    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="maxTime">{{ 'COMPONENTS.TIME_PICKER.MAX_TIME_REQUIRED' | translate }}</label>
      </nz-form-control>
    </nz-form-item>
    @if (getControlValue('maxTime')) {
      <div>
        <nz-form-label nzRequired>
          {{ 'COMPONENTS.TIME_PICKER.MAX_TIME' | translate }}
        </nz-form-label>
        <nz-form-item>
          <nz-form-control [nzErrorTip]="maxDateErrorMessageTemplate">
            <nz-time-picker
              [nzFormat]="getControlValue('timeFormat')"
              [nzDisabledHours]="getDisabledMinHours()"
              [nzDisabledMinutes]="getDisabledMinMinutes()"
              [nzDisabledSeconds]="getDisabledMinSeconds()"
              [nzUse12Hours]="getControlValue('use12Hours')"
              [nzHideDisabledOptions]="getControlValue('hideDisabledOptions')"
              [nzHourStep]="getControlValue('hourStep')"
              [nzMinuteStep]="getControlValue('minuteStep')"
              [nzSecondStep]="getControlValue('secondStep')"
              [nzPlaceHolder]="'COMPONENTS.TIME_PICKER.SELECT_MAX_TIME' | translate"
              formControlName="maxTimeValue"
              class="time-picker"
            ></nz-time-picker>
          </nz-form-control>
          <ng-template #maxDateErrorMessageTemplate let-control>
            @if (hasErrors(control, 'required')) {
              <div>{{ 'COMPONENTS.CANNOT_BE_EMPTY' | translate }}</div>
            }
            @if (hasErrors(control, 'maxMinError')) {
              <div>
                {{ 'COMPONENTS.TIME_PICKER.MAX_TIME_LIMIT' | translate }}({{
                  control.errors['maxMinError'] | date: getControlValue('timeFormat')
                }})!
              </div>
            }
          </ng-template>
        </nz-form-item>
      </div>
    }
  </div>

  <nz-divider nzText="{{ 'COMPONENTS.DIVIDER_TOOLTIP' | translate }}" nzOrientation="left"></nz-divider>
  <div class="section-container">
    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="showTooltip">{{ 'COMPONENTS.INPUT_TOOLTIP' | translate }}</label>
      </nz-form-control>
    </nz-form-item>
    @if (getControlValue('showTooltip')) {
      <div>
        <nz-form-label nzRequired
          >{{ 'COMPONENTS.TOOLTIP_TEXT' | translate }}
        </nz-form-label>
        <nz-form-item>
          <nz-form-control [nzErrorTip]="tooltipTextErrorMessageTemplate">
            <input nz-input formControlName="tooltipText" />
          </nz-form-control>
          <ng-template #tooltipTextErrorMessageTemplate let-control>
            @if (hasErrors(control, 'required')) {
              <div>{{ 'COMPONENTS.PROVIDE_TOOLTIP' | translate }}</div>
            }
          </ng-template>
        </nz-form-item>
      </div>
    }
  </div>
</form>
