<nz-card
  [nzTitle]="titleTemplate"
  [nzExtra]="headerButtons"
  class="input-holder-padding"
  [ngClass]="{
    'valid-style': inputHolderForm.valid,
    'invalid-style': inputHolderForm.invalid,
    'card-container': true,
  }"
>
  <form #inputHolderForm="ngForm" nz-form class="form-container">
    <nz-form-label nzRequired
      ><span>{{ 'COMPONENTS.COMPONENT_QUESTION' | translate }}</span></nz-form-label
    >
    <nz-form-item [ngClass]="{ 'form-item': true, 'form-item-border': !inlineEdit.enabled }">
      <nz-form-control nzErrorTip="">
        <span [hidden]="inlineEdit.enabled">{{ inputData.questionValue }}</span>
        <input
          [hidden]="!inlineEdit.enabled"
          nz-input
          nzAutosize
          name="inputQuestion"
          required
          [placeholder]="formInput.questionPlaceholder"
          [(ngModel)]="inputData.questionValue"
          [ngModelOptions]="{ updateOn: 'change' }"
          (ngModelChange)="change()"
          (mousedown)="$event.stopPropagation()"
        />
      </nz-form-control>
    </nz-form-item>

    <nz-form-label>
      <span>{{ 'COMPONENTS.QUESTION_DESCRIPTION' | translate }}</span>
    </nz-form-label>
    <nz-form-item class="form-item">
      <nz-form-control>
        <span class="pre-wrap" [hidden]="inlineEdit.enabled">{{ inputData.descriptionValue }}</span>
        <textarea
          [hidden]="!inlineEdit.enabled"
          nz-input
          nzAutosize
          name="inputDescription"
          (mousedown)="$event.stopPropagation()"
          [placeholder]="formInput.descriptionPlaceholder"
          [(ngModel)]="inputData.descriptionValue"
          [ngModelOptions]="{ updateOn: 'change' }"
          (ngModelChange)="change()"
        ></textarea>
      </nz-form-control>
    </nz-form-item>

    <nz-form-label>
      <span>{{ 'COMPONENTS.INPUT_PREVIEW' | translate }}</span>
    </nz-form-label>
    <nz-form-item class="form-item form-item-border">
      <nz-form-control>
        <div class="input-preview-container" (mousedown)="$event.stopPropagation()">
          <ng-container *ngComponentOutlet="componentType; inputs: componentInputs"></ng-container>
        </div>
      </nz-form-control>
    </nz-form-item>
  </form>
  <span class="id-text">[ID: {{ inputData.id }} | {{ 'COMPONENTS.SECTION_ID' | translate }}: {{ inputData.sectionId }}]</span>
</nz-card>

<ng-template #titleTemplate>
  <div style="display: flex; flex-direction: row; align-items: center">
    @if (inputHolderForm.invalid) {
      <nz-icon
        class="mr-12 error-icon"
        nzType="exclamation-circle"
        nzTheme="fill"
        nz-tooltip
        [nzTooltipTitle]="'COMPONENTS.INPUT_HOLDER.INVALID_INPUT' | translate"
        nzTooltipColor="red"
      />
    }

    <ng-container [ngTemplateOutlet]="customTitle"></ng-container>
  </div>
</ng-template>

<ng-template #headerButtons>
  <button nz-button nzType="primary" nzShape="circle" (click)="editComponent()" class="button-spacing">
    <span nz-icon nzType="edit" nzTheme="outline"></span>
  </button>
  <button
    nz-popconfirm
    [nzPopconfirmTitle]="'COMPONENTS.INPUT_HOLDER.POP_RESET' | translate"
    [nzCancelText]="'GENERAL.CANCEL' | translate"
    [nzOkText]="'GENERAL.OK' | translate"
    (nzOnConfirm)="resetComponent()"
    nzPopconfirmPlacement="top"
    nz-button
    nzType="dashed"
    nzShape="round"
    class="button-spacing"
  >
    <span>{{ 'COMPONENTS.INPUT_HOLDER.RESET' | translate }}</span>
  </button>
  <button
    nz-popconfirm
    [nzPopconfirmTitle]="'COMPONENTS.INPUT_HOLDER.POP_REMOVE' | translate"
    [nzCancelText]="'GENERAL.CANCEL' | translate"
    [nzOkText]="'GENERAL.OK' | translate"
    (nzOnConfirm)="removeComponent()"
    nzPopconfirmPlacement="top"
    nz-button
    nzType="default"
    nzDanger
    nzShape="circle"
    class="button-spacing"
  >
    <span nz-icon nzType="delete" nzTheme="outline"></span>
  </button>
</ng-template>
