<nz-card
  [nzTitle]="titleTemplate"
  [nzExtra]="headerButtons"
  class="input-holder-padding"
  [ngClass]="{
    'valid-style': inputHolderForm.valid,
    'invalid-style': inputHolderForm.invalid,
    'card-container': true,
  }"
>
  <form #inputHolderForm="ngForm" nz-form class="form-container">
    <nz-form-label nzRequired
      ><span>{{ 'COMPONENTS.COMPONENT_QUESTION' | translate }}</span></nz-form-label
    >
    <nz-form-item [ngClass]="{ 'form-item': true, 'form-item-border': !inlineEdit.enabled }">
      <nz-form-control [nzValidateStatus]="isInvalid()" nzErrorTip="">
        <span *ngIf="!inlineEdit.enabled">{{ inputData.questionValue }}</span>
        <nz-input-group *ngIf="inlineEdit.enabled" [nzSuffix]="suffixTemplate">
          <input
            nz-input
            nzSize="small"
            name="inputQuestion"
            required
            [placeholder]="formInput.questionPlaceholder"
            (mousedown)="$event.stopPropagation()"
            [(ngModel)]="inputData.questionValue"
            [ngModelOptions]="{ updateOn: 'change' }"
            (ngModelChange)="change()"
          />
        </nz-input-group>
        <ng-template #suffixTemplate>
          <i
            nz-icon
            nzType="warning"
            *ngIf="!inputData.questionValue"
            (click)="inputData.questionValue=''; change()"
            class="error-icon"
          ></i>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-label>
      <span>{{ 'COMPONENTS.QUESTION_DESCRIPTION' | translate }}</span>
    </nz-form-label>
    <nz-form-item class="form-item">
      <nz-form-control>
        <span class="pre-wrap" [hidden]="inlineEdit.enabled">{{ inputData.descriptionValue }}</span>
        <textarea
          [hidden]="!inlineEdit.enabled"
          nz-input
          nzAutosize
          name="inputDescription"
          (mousedown)="$event.stopPropagation()"
          [placeholder]="formInput.descriptionPlaceholder"
          [(ngModel)]="inputData.descriptionValue"
          [ngModelOptions]="{ updateOn: 'change' }"
          (ngModelChange)="change()"
        ></textarea>
      </nz-form-control>
    </nz-form-item>

    <div>{{ 'COMPONENTS.INPUT_PREVIEW' | translate }}:</div>
    <ng-container *ngComponentOutlet="componentType; inputs: componentInputs" />
  </form>
  <span class="id-text">[ID: {{ inputData.id }} | {{ 'COMPONENTS.SECTION_ID' | translate }}: {{ inputData.sectionId }}]</span>
</nz-card>
<ng-template #titleTemplate>
  <span>{{ formInput.title | translate }}</span>
  @if (inputHolderForm.invalid) {
    <span
      nz-tooltip
      [nzTooltipTitle]="'COMPONENTS.INPUT_HOLDER.INVALID_INPUT' | translate"
      nzTooltipColor="red"
      nz-icon
      nzType="exclamation-circle"
      nzTheme="outline"
      class="error-icon"
    ></span>
  }
</ng-template>
<ng-template #headerButtons>
  <button nz-button nzType="primary" nzShape="circle" (click)="editComponent()" class="button-spacing">
    <span nz-icon nzType="edit" nzTheme="outline"></span>
  </button>
  <button
    nz-popconfirm
    [nzPopconfirmTitle]="'COMPONENTS.INPUT_HOLDER.POP_RESET' | translate"
    [nzCancelText]="'GENERAL.CANCEL' | translate"
    [nzOkText]="'GENERAL.OK' | translate"
    (nzOnConfirm)="resetComponent()"
    nzPopconfirmPlacement="top"
    nz-button
    nzType="dashed"
    nzShape="round"
    class="button-spacing"
  >
    <span>{{ 'COMPONENTS.INPUT_HOLDER.RESET' | translate }}</span>
  </button>
  <button
    nz-popconfirm
    [nzPopconfirmTitle]="'COMPONENTS.INPUT_HOLDER.POP_REMOVE' | translate"
    [nzCancelText]="'GENERAL.CANCEL' | translate"
    [nzOkText]="'GENERAL.OK' | translate"
    (nzOnConfirm)="removeComponent()"
    nzPopconfirmPlacement="top"
    nz-button
    nzType="default"
    nzDanger
    nzShape="circle"
    class="button-spacing"
  >
    <span nz-icon nzType="delete" nzTheme="outline"></span>
  </button>
</ng-template>
