<nz-form-item>
  <nz-form-control [nzErrorTip]="errorTemplate">
    <ng-container *ngTemplateOutlet="prefixTemplate" />
    <nz-input-number
      #inputComponent
      [required]="data.required"
      [nzMin]="minNumber"
      [nzMax]="maxNumber"
      [nzFormatter]="inputFormatter"
      [nzParser]="inputParser"
      [disabled]="!inlineEdit.enabled"
      [nzPlaceHolder]="data.placeholderValue ?? ''"
      [(ngModel)]="data.defaultValue"
      (blur)="onChange($event)"
      (mousedown)="$event.stopPropagation()"
      [nzStep]="data.stepNumber"
      style="min-width: 50%"
    />
  </nz-form-control>
</nz-form-item>
<ng-template #errorTemplate let-control>
  <div *ngFor="let message of getErrorMessages(control); trackBy: identifyErrorMessages">{{ message }}</div>
</ng-template>
<ng-template #prefixTemplate>
  <span
    *ngIf="data.showTooltip"
    nz-icon
    nz-tooltip
    [nzTooltipTitle]="data.tooltipText"
    nzType="info-circle"
    style="margin-right: 10px"
  ></span>
</ng-template>
