<nz-form-item>
  <nz-form-control [nzErrorTip]="errorTemplate">
    <ng-container *ngTemplateOutlet="prefixTemplate" />
    <!-- @todo Grid instead of min-width: 50%? Will this be responsive enough like this? -->
    <nz-input-number
      #inputComponent
      [required]="data.required"
      [nzMin]="minNumber"
      [nzMax]="maxNumber"
      [nzFormatter]="inputFormatter"
      [nzParser]="inputParser"
      [disabled]="!inlineEdit.enabled"
      [(ngModel)]="data.defaultValue"
      (blur)="onChange($event)"
      (mousedown)="$event.stopPropagation()"
      [nzStep]="data.stepNumber"
      style="min-width: 50%"
    />
  </nz-form-control>
</nz-form-item>
<ng-template #errorTemplate let-control>
  @for (message of getErrorMessages(control); track message) {
    <div>{{ message }}</div>
  }
</ng-template>
<ng-template #prefixTemplate>
  @if (data.showTooltip) {
    <span nz-icon nz-tooltip [nzTooltipTitle]="data.tooltipText" nzType="info-circle" style="margin-right: 10px"></span>
  }
</ng-template>
