@import '../../../../../colors.less';
@import '../../../../common.less';

.section-container {
  border: @border-default;
  padding-left: @padding10;
  padding-right: @padding10;
  margin-bottom: @margin10;
}

.section-container:last-child {
  margin-bottom: 0;
}

.time-picker {
  width: @width-full;
}
