<form id="textareaEditFormID" nz-form [formGroup]="formData">
  <nz-divider nzText="{{ 'COMPONENTS.DIVIDERS.GENERAL' | translate }}" nzOrientation="left"></nz-divider>
  <nz-form-label nzRequired>{{ 'COMPONENTS.COMPONENT_QUESTION' | translate }}ű </nz-form-label>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="questionErrors">
      <input nz-input formControlName="questionValue" />
    </nz-form-control>
    <ng-template #questionErrors let-control>
      @if (hasErrors(control, 'required')) {
        <div>{{ 'COMPONENTS.CANNOT_BE_EMPTY' | translate }}</div>
      }
    </ng-template>
  </nz-form-item>

  <nz-form-label>
    {{ 'COMPONENTS.COMPONENT_DESCRIPTION' | translate }}
  </nz-form-label>
  <nz-form-item>
    <nz-form-control>
      <quill-editor
        formControlName="descriptionValue"
        [style]="{ height: '150px', width:'100%' }" [placeholder]="''"/>
    </nz-form-control>
  </nz-form-item>
  <nz-divider nzText="{{ 'COMPONENTS.DIVIDERS.PLACEHOLDER' | translate }}" nzOrientation="left"></nz-divider>
  <nz-form-label>
    {{ 'COMPONENTS.SET_PLACEHOLDER_VALUE' | translate }}
  </nz-form-label>
  <nz-form-item>
    <nz-form-control>
      <input nz-input formControlName="placeholderValue" />
    </nz-form-control>
  </nz-form-item>

  <nz-divider></nz-divider>
  <div class="section-container">
    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="setDefaultValue">{{ 'COMPONENTS.SET_DEFAULT_VALUE?' | translate }}</label>
      </nz-form-control>
    </nz-form-item>
    @if (getControlValue('setDefaultValue')) {
      <div>
        <nz-form-label [nzRequired]="getControlValue('required')">{{ 'COMPONENTS.SET_DEFAULT_VALUE' | translate }} </nz-form-label>
        <nz-form-item>
          <nz-form-control [nzErrorTip]="defaultValueErrorTemplate">
            <textarea
              #defaultValueComponent
              nz-input
              nzAutosize
              [minlength]="minLengthOrNull"
              [maxlength]="maxLengthOrNull"
              formControlName="defaultValue"
            ></textarea>
            <ng-container *ngTemplateOutlet="suffixTemplateCounter" />
          </nz-form-control>
          <ng-template #defaultValueErrorTemplate let-control>
            @for (message of getErrorMessages(control); track message) {
              <div>{{ message }}</div>
            }
          </ng-template>
          <ng-template #suffixTemplateCounter>
            @if (getControlValue('maxLength') && getControlValue('showCharacterCounter') && getControlValue('maxLengthNumber')) {
              <div class="character-counter">{{ defaultValueComponent.value.length }}/{{ getControlValue('maxLengthNumber') }}</div>
            }
          </ng-template>
        </nz-form-item>
      </div>
    }
  </div>

  <nz-divider nzText="{{ 'COMPONENTS.DIVIDERS.VALIDATION' | translate }}" nzOrientation="left"></nz-divider>
  <div class="section-container">
    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="required">{{ 'COMPONENTS.IS_REQUIRED' | translate }}</label>
      </nz-form-control>
    </nz-form-item>
    @if (getControlValue('required')) {
      <div>
        <nz-form-label [nzRequired]="getControlValue('required')">
          <span>{{ 'COMPONENTS.PLACEHOLDER_ERROR_REQUIRED' | translate }}</span>
        </nz-form-label>
        <nz-form-item>
          <nz-form-control [nzErrorTip]="requiredErrorMessageTemplate">
            <input nz-input formControlName="requiredMessage" />
          </nz-form-control>
          <ng-template #requiredErrorMessageTemplate let-control>
            @if (hasErrors(control, 'required')) {
              <div>{{ 'COMPONENTS.IS_FIELD_REQUIRED' | translate }}</div>
            }
          </ng-template>
        </nz-form-item>
      </div>
    }

    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="minLength">{{ 'COMPONENTS.TEXT_AREA.MIN_LENGTH_REQUIRED?' | translate }}</label>
      </nz-form-control>
    </nz-form-item>
    @if (getControlValue('minLength')) {
      <div>
        <nz-form-label nzRequired
          ><span>{{ 'COMPONENTS.TEXT_AREA.MIN_LENGTH_NUMBER' | translate }}</span></nz-form-label
        >
        <nz-form-item>
          <nz-form-control [nzErrorTip]="minLengthNumberErrorMessageTemplate">
            <nz-input-number
              formControlName="minLengthNumber"
              [nzMin]="1"
              [nzMax]="getControlValue('maxLength') && getControlValue('maxLengthNumber') ? getControlValue('maxLengthNumber') : Infinity"
              [nzStep]="1"
            ></nz-input-number>
          </nz-form-control>
          <ng-template #minLengthNumberErrorMessageTemplate let-control>
            @if (hasErrors(control, 'required')) {
              <div>{{ 'COMPONENTS.CANNOT_BE_EMPTY' | translate }}</div>
            }
            @if (hasErrors(control, 'minError')) {
              <div>{{ 'COMPONENTS.CANNOT_BE_LOWER_THAN' | translate }} {{ control.errors['minError'] }}!</div>
            }
            @if (hasErrors(control, 'minMaxError')) {
              <div>{{ 'COMPONENTS.MIN_VALUE_LIMIT' | translate }} ({{ control.errors['minMaxError'] }})!</div>
            }
          </ng-template>
        </nz-form-item>

        <nz-form-label nzRequired>
          <span>{{ 'COMPONENTS.MIN_LENGTH_ERROR_MESSAGE_HELP' | translate }}&#123;*&#125;</span>
        </nz-form-label>
        <nz-form-item>
          <nz-form-control [nzErrorTip]="minLengthMessageErrorMessageTemplate">
            <input nz-input formControlName="minLengthMessage" />
          </nz-form-control>
          <ng-template #minLengthMessageErrorMessageTemplate let-control>
            @if (hasErrors(control, 'required')) {
              <div>{{ 'COMPONENTS.MIN_LENGTH_ERROR_MESSAGE_REQUIRED' | translate }}</div>
            }
          </ng-template>
        </nz-form-item>
      </div>
    }

    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="maxLength">{{ 'COMPONENTS.MAX_LENGTH_REQUIRED?' | translate }}</label>
      </nz-form-control>
    </nz-form-item>
    @if (getControlValue('maxLength')) {
      <div>
        <nz-form-label nzRequired
          ><span>{{ 'COMPONENTS.MAX_LENGTH_NUMBER' | translate }}</span></nz-form-label
        >
        <nz-form-item>
          <nz-form-control [nzErrorTip]="maxLengthNumberErrorMessageTemplate">
            <nz-input-number
              formControlName="maxLengthNumber"
              [nzMin]="getControlValue('minLength') ? getControlValue('minLengthNumber') : 1"
              [nzStep]="1"
            ></nz-input-number>
          </nz-form-control>
          <ng-template #maxLengthNumberErrorMessageTemplate let-control>
            @if (hasErrors(control, 'required')) {
              <div>{{ 'COMPONENTS.CANNOT_BE_EMPTY' | translate }}</div>
            }
            @if (hasErrors(control, 'minError')) {
              <div>{{ 'COMPONENTS.CANNOT_BE_LOWER_THAN' | translate }}{{ control.errors['minError'] }}!</div>
            }
            @if (hasErrors(control, 'maxMinError')) {
              <div>{{ 'COMPONENTS.MIN_VALUE_LIMIT' | translate }}({{ control.errors['maxMinError'] }})!</div>
            }
          </ng-template>
        </nz-form-item>
        <span>{{ 'COMPONENTS.CHARACTER_COUNTER' | translate }}</span>
        <nz-form-item>
          <nz-form-control>
            <label nz-checkbox formControlName="showCharacterCounter">{{ 'COMPONENTS.SHOW_CHARACTER_COUNTER' | translate }}</label>
          </nz-form-control>
        </nz-form-item>
      </div>
    }
  </div>

  <nz-divider nzText="{{ 'COMPONENTS.DIVIDERS.TOOLTIP' | translate }}" nzOrientation="left"></nz-divider>
  <div class="section-container">
    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="showTooltip">{{ 'COMPONENTS.INPUT_TOOLTIP' | translate }}</label>
      </nz-form-control>
    </nz-form-item>
    @if (getControlValue('showTooltip')) {
      <div>
        <nz-form-label nzRequired
          ><span>{{ 'COMPONENTS.TOOLTIP_TEXT' | translate }}</span></nz-form-label
        >
        <nz-form-item>
          <nz-form-control [nzErrorTip]="tooltipTextErrorMessageTemplate">
            <input nz-input formControlName="tooltipText" />
          </nz-form-control>
          <ng-template #tooltipTextErrorMessageTemplate let-control>
            @if (hasErrors(control, 'required')) {
              <div>{{ 'COMPONENTS.PROVIDE_TOOLTIP' | translate }}</div>
            }
          </ng-template>
        </nz-form-item>
      </div>
    }
  </div>
</form>
