@import '../../../../../common.less';

.section-container {
  border: @border-default;

  // CLAMP: 8px mobilon, 12px desktopon
  padding-left: clamp(@spacing8, 2vw, @spacing12);
  padding-right: clamp(@spacing8, 2vw, @spacing12);

  margin-bottom: @spacing12;
  border-radius: 4px;
}

.section-container:last-child {
  margin-bottom: @spacing0;
}

.character-counter {
  text-align: right;
  font-size: 12px;
  margin-top: 4px;
}

// Biztosítsuk, hogy a szerkesztőben a textarea kitöltse a helyet
textarea {
  width: 100%;
  min-height: 80px;
}
