<nz-form-item>
  @if (label()) {
    <ng-container [ngTemplateOutlet]="label()"></ng-container>
  }

  <nz-form-control [nzErrorTip]="errorTemplate">
    <nz-input-group [nzPrefix]="prefixTemplate" [nzSuffix]="suffixTemplateCounter">
      <input
        #inputComponent="ngModel"
        nz-input
        type="text"
        [required]="state().required"
        [minlength]="state().minLength ? (state().minLengthNumber ?? null) : null"
        [maxlength]="state().maxLength ? (state().maxLengthNumber ?? null) : null"
        [disabled]="!inlineEdit().enabled"
        [placeholder]="state().placeholderValue ?? ''"
        [(ngModel)]="state().defaultValue"
        (change)="onChange($event)"
        (mousedown)="$event.stopPropagation()"
      />
    </nz-input-group>
  </nz-form-control>
</nz-form-item>
<ng-template #errorTemplate let-control>
  @for (message of getErrorMessages(control); track message) {
    <div>{{ message }}</div>
  }
</ng-template>
<ng-template #prefixTemplate>
  @if (state().showTooltip) {
    <span
      nz-icon
      nz-tooltip
      [nzTooltipTitle]="state().tooltipText"
      nzType="info-circle"
      class="icon-margin"
    ></span>
  }
</ng-template>
<ng-template #suffixTemplateCounter>
  @if (state().maxLength && state().showCharacterCounter) {
    <span>{{ (inputComponent.value ?? '').length }}/{{ state().maxLengthNumber }}</span>
  }
</ng-template>
