<app-input-layout
  [questionValue]="questionValue"
  [descriptionValue]="descriptionValue"
  [answerValue]="answerValue"
  [type]="type"
  [inputPlaceholder]="inputPlaceholder"
  [inputTemplate]="dateInput"
  (questionValueChanged)="onQuestionValueChange($event)"
  (descriptionValueChanged)="onDescriptionValueChange($event)"

>
</app-input-layout>

<ng-template #dateInput>
  <nz-date-picker nz-input [(ngModel)]="answerValue" (ngModelChange)="onAnswerValueChange($event)"></nz-date-picker>
</ng-template>
