<app-input-layout
  [componentId]="id"
  [sectiondId]="sectiondId"
  [questionValue]="questionValue"
  [descriptionValue]="descriptionValue"
  [inputPlaceholder]="inputPlaceholder"
  [inputTemplate]="dateInput"
  (questionValueChanged)="onQuestionValueChange($event)"
  (descriptionValueChanged)="onDescriptionValueChange($event)"
  (removeComponentEvent)="removeComponentEvent.emit($event)"
>
</app-input-layout>

<ng-template #dateInput>
  <nz-date-picker nz-input [(ngModel)]="answerValue" (ngModelChange)="onAnswerValueChange($event)"></nz-date-picker>
</ng-template>
