<nz-layout>
  <nz-steps id="progressbar" nzType="navigation" [nzCurrent]="page">
    <nz-step [nzTitle]="'STEPS.FORM_INFO' | translate" (click)="toInfoPage()"></nz-step>
    <nz-step [nzTitle]="'STEPS.COMPONENTS' | translate" (click)="toCompPage()"></nz-step>
    <nz-step [nzTitle]="(projectType === 'test' ? 'STEPS.ANSWER' : 'STEPS.RESULTS') | translate" (click)="toAnswPage()"></nz-step>
  </nz-steps>
  <div class="form-container">
    @switch (page) {
      @case (0) {
        <div class="page form-page-container">
          <app-info-page [page]="page" (setPage)="setPage($event)" (projectId)="setProjectId($event)" (formData)="handleFormData($event)" />
        </div>
      }
      @case (1) {
        <div class="page">
          <app-components-page [page]="page" (setPage)="setPage($event)" [projectId]="projectId" (versionChange)="setVersionNum($event)" />
        </div>
      }
      @case (2) {
        <div class="page form-page-container">
          <app-results-page [page]="page" (setPage)="setPage($event)" [projectId]="projectId" [versionNum]="currentVersionNum" />
        </div>
      }
    }
  </div>
</nz-layout>
