<nz-layout>
  <nz-steps id="progressbar" nzType="navigation" [nzCurrent]="store.currentStep()">
    <nz-step [nzTitle]="'STEPS.FORM_INFO' | translate" (click)="toInfoPage()"></nz-step>
    <nz-step [nzTitle]="'STEPS.COMPONENTS' | translate" (click)="toCompPage()"></nz-step>
    <nz-step [nzTitle]="'STEPS.' + (store.project()?.type === ProjectType.TEST ? 'ANSWER' : 'RESULTS') | translate" (click)="toAnswPage()"></nz-step>
  </nz-steps>
  <div class="form-container">
    @switch (store.currentStep()) {
    @case (0) {
    <div class="page form-page-container">
      <app-info-page />
    </div>
    }
    @case (1) {
    <div class="page">
      <app-components-page />
    </div>
    }
    @case (2) {
    <div class="page form-page-container">
      <app-results-page />
    </div>
    }
    }
  </div>
</nz-layout>