<nz-form-item>
  <nz-form-control [nzErrorTip]="errorTemplate">
    <nz-input-group [nzPrefix]="prefixTemplate" [nzSuffix]="suffixTemplateCounter">
      <input
        #inputComponent="ngModel"
        nz-input
        type="text"
        [required]="data.required"
        [minlength]="data.minLengthNumber ?? null"
        [maxlength]="data.maxLengthNumber ?? null"
        [disabled]="!inlineEdit.enabled"
        [placeholder]="data.placeholderValue ?? ''"
        [(ngModel)]="data.defaultValue"
        (blur)="onChange($event)"
        (mousedown)="$event.stopPropagation()"
      />
    </nz-input-group>
  </nz-form-control>
</nz-form-item>
<ng-template #errorTemplate let-control>
  @for (message of getErrorMessages(control); track message) {
    <div>{{ message }}</div>
  }
</ng-template>
<ng-template #prefixTemplate>
  @if (data.showTooltip) {
    <span nz-icon nz-tooltip [nzTooltipTitle]="data.tooltipText" nzType="info-circle" class="icon-margin"></span>
  }
</ng-template>
<ng-template #suffixTemplateCounter>
  @if (data.maxLength && data.showCharacterCounter) {
    <span>{{ (inputComponent.value ?? '').length }}/{{ data.maxLengthNumber }}</span>
  }
</ng-template>
