@import '../../../../colors.less';

nz-header {
  background-color: @gray-dark;
  padding: 0 5rem;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header {
  display: flex;
  justify-content: space-between;

  > h1 {
    color: @white-text;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  > div {
    font-size: 2rem;

    > span {
      cursor: pointer;
    }
  }

  > div :not(:last-child) {
    margin-right: 1rem;
  }
}

.is-active {
  color: @white-text;
}

.setting {
  background-color: @gray-dark;
  color: black;
}

.language {
  background-color: @background-white;
}
