<nz-header>
  <div class="header">
    <div>
      <span *ngIf="headerOptions.includes(options.HOME)" (click)="navigateToHome()" nz-icon nzType="home" nzTheme="outline"></span>
      <span *ngIf="headerOptions.includes(options.UNDO)" nz-icon nzType="rollback" nzTheme="outline"></span>
      <span *ngIf="headerOptions.includes(options.SAVE)" nz-icon nzType="save" nzTheme="outline"></span>
      <span
        *ngIf="headerOptions.includes(options.SIDEBAR)"
        [ngClass]="activeOptions.includes(options.SIDEBAR) ? 'is-active' : ''"
        (click)="changeMenuItemState(options.SIDEBAR)"
        nz-icon
        nzType="menu"
        nzTheme="outline"
      ></span>
    </div>
    <div>
      <ul nz-menu nzMode="horizontal" *ngIf="headerOptions.includes(options.SETTINGS)" class="setting">
        <li nz-submenu nzPlacement="bottomCenter"  nzIcon="setting">
          <ul>
            <li nz-submenu nzPlacement="bottomCenter" [nzTitle]="'dashboard.LANGUAGE' | translate">
              <ul>
                <li nz-menu-item (click)="setLanguage('en')">
                  <span class="fi fi-gb"></span> English
                </li>
                <li nz-menu-item (click)="setLanguage('hu')">
                  <span class="fi fi-hu"></span> Magyar
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <h1>Form Builder</h1>
  </div>
</nz-header>
