<nz-header>
  <div class="header">
    <div>
      @if (headerOptions.includes(options.HOME)) {
        <span (click)="navigateToHome()" nz-icon nzType="home" nzTheme="outline"></span>
      }
      @if (headerOptions.includes(options.UNDO)) {
        <span (click)="handleUndo()" nz-icon nzType="rollback" nzTheme="outline"></span>
      }
      @if (headerOptions.includes(options.SAVE)) {
        <span (click)="handleSave()" nz-icon nzType="save" nzTheme="outline"></span>
      }
      @if (headerOptions.includes(options.SIDEBAR)) {
        <span
          [ngClass]="activeOptions.includes(options.SIDEBAR) ? 'is-active' : ''"
          (click)="changeMenuItemState(options.SIDEBAR)"
          nz-icon nzType="menu" nzTheme="outline">
        </span>
      }
      @if (headerOptions.includes(options.UPLOAD_JSON)) {
        <span>
          <input #fileInput type="file" (change)="onFileSelected($event)" class="hidden-input" />
          <span (click)="fileInput.click()" nz-icon nzType="upload" nzTheme="outline"></span>
        </span>
      }
    </div>
    <div>
      <div>
        <button nz-button nzType="default" nzSize="large" [nzDropdownMenu]="languageMenu" nz-dropdown>
          {{ currentLanguage === 'en' ? 'English' : 'Magyar' }}
        </button>
      </div>
      <nz-dropdown-menu #languageMenu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="setLanguage('en')" [class.selected]="currentLanguage === 'en'">English</li>
          <li nz-menu-item (click)="setLanguage('hu')" [class.selected]="currentLanguage === 'hu'">Magyar</li>
        </ul>
      </nz-dropdown-menu>
    </div>
    <h1>{{ 'general.FORM_BUILDER' | translate }}</h1>
  </div>
</nz-header>
