// @todo Built-in color galore.
nz-header {
  background-color: #908d8d;
  padding: 0 5rem;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header {
  display: flex;
  justify-content: space-between;

  > h1 {
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  > div {
    font-size: 2rem;

    > span {
      cursor: pointer;
    }
  }

  > div :not(:last-child) {
    margin-right: 1rem;
  }
}

.is-active {
  color: #fff;
}

.setting {
  background-color: #908d8d;
  color: black;
}
.language {
  background-color: white;
}
