nz-header {
  background-color: #908d8d;
  padding: 0 5rem;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header {
  display: flex;
  justify-content: space-between;
}

.language-switcher {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0px;
}

.language-switcher span {
  padding: 0px 0px;
  transition: 0.3s;
}

.language-switcher span:hover {
  color: #007bff;
}

.language-switcher .separator {
  padding: 0 0px;
  font-weight: normal;
  color: #666;
}

.header>h1 {
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header>div {
  font-size: 2rem;
}

.header>div>span {
  cursor: pointer;
}

.header>div :not(:last-child) {
  margin-right: 1rem;
}

.is-active {
  color: #fff;
}

.setting {
  background-color: #908d8d;
  color: black;
}

.language {
  background-color: white;
}