<app-input-layout
  [componentId]="id"
  [sectionId]="sectionId"
  [questionValue]="questionValue"
  [descriptionValue]="descriptionValue"
  [inputPlaceholder]="inputPlaceholder"
  [inputTemplate]="selectInput"
  (removeComponentEvent)="removeComponentEvent.emit($event)"
>
</app-input-layout>

<ng-template #selectInput>
  <nz-select
    [nzMode]="isMultipleChoice ? 'multiple' : 'default'"
    [(ngModel)]="defaultSelectValue"
    [nzPlaceHolder]="placeholderValue"
    nzAllowClear>
    <nz-option
      *ngFor="let answerOption of selectOptions"
      [nzValue]="answerOption"
      [nzLabel]="answerOption"
    ></nz-option>
  </nz-select>
  <ng-container *ngIf="id">
    <button nz-button nzType="primary" (click)="edit()">Edit</button>
  </ng-container>
</ng-template>
