<nz-form-item>
  <nz-form-control [nzErrorTip]="errorTemplate">
    <ng-container *ngTemplateOutlet="prefixTemplate" />
    <nz-select
      #inputComponent
      [required]="data.required"
      [disabled]="!inlineEdit.enabled"
      [nzPlaceHolder]="data.placeholderValue ?? ''"
      [nzMode]="data.isMultipleChoice ? 'multiple' : 'default'"
      [(ngModel)]="data.defaultValue"
      (ngModelChange)="onChange($event)"
      (mousedown)="$event.stopPropagation()"
      nzAllowClear
    >
      @for (answerOption of data.selectOptions; track answerOption) {
        <nz-option [nzValue]="answerOption" [nzLabel]="answerOption"></nz-option>
      }
    </nz-select>
  </nz-form-control>
</nz-form-item>
<ng-template #errorTemplate let-control>
  @for (message of getErrorMessages(control); track message) {
    <div>{{ message }}</div>
  }
</ng-template>
<ng-template #prefixTemplate>
  @if (data.showTooltip) {
    <span nz-icon nz-tooltip [nzTooltipTitle]="data.tooltipText" nzType="info-circle"></span>
  }
</ng-template>
