<form id="pictureInputEditFormID" nz-form [formGroup]="formData">
  <nz-form-label nzRequired><span>{{ 'components.COMPONENT_QUESTION' | translate }}</span></nz-form-label>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="questionErrors">
      <input nz-input formControlName="questionValue" />
    </nz-form-control>
    <ng-template #questionErrors let-control>
      @if (hasErrors(control, 'required')) {
        <div>{{ 'components.CANNOT_BE_EMPTY' | translate }}</div>
      }
    </ng-template>
  </nz-form-item>

  <span>{{ 'components.COMPONENT_DESCRIPTION' | translate }}:</span>
  <nz-form-item>
    <nz-form-control>
      <textarea
        nz-input
        nzAutosize
        formControlName="descriptionValue"
      ></textarea>
    </nz-form-control>
  </nz-form-item>

  <span>{{ 'components.SET_PLACEHOLDER_VALUE' | translate }}</span>
  <nz-form-item>
    <nz-form-control>
      <input nz-input formControlName="placeholderValue" />
    </nz-form-control>
  </nz-form-item>
</form>
