@import 'ng-zorro-antd/ng-zorro-antd.dark.less';
@import '../colors.less';

// Dark theme custom colors
// White and primary are already available (@white, @primary-color)
@darkest: #1a1a1a;
@dark: #2e2e2e;
@medium: #545454;
@light: #a6a6a6;
@lightest: #cccccc;
@error-color: #ff0e0e;

// optional overrides
.ant-layout-header {
  background: @gray-dark !important;
}

.ant-layout-sider {
  background: #000000 !important;
}
//TODO: define header and slider styles
