<nz-layout>
  <div>
    <app-edit
      [inlineEdit]="inlineEdit"
      [projectId]="projectId"
      [versionNum]="currentVersionNum">
    </app-edit>
    <div
      nz-row
      id="footerdiv"
    >
      <div nz-col nzSpan="22"></div>
      <div nz-row nzJustify="start" nzAlign="middle" class="footer-inner-row">
        <button
          nz-button
          nzType="primary"
          type="submit"
          (click)="nextPage()"
          class="next-button"
          [disabled]="isNextButtonDisabled"
          nz-tooltip
          [nzTooltipTitle]="'COMPONENTS.NEXT_TOOLTIP' | translate"
        >
          {{ 'GENERAL.NEXT' | translate }}
        </button>
        <div class="version-controls">
          <button
            nz-button
            nzType="default"
            (click)="navigateVersion(-1)"
            [disabled]="!hasPreviousVersion()"
          >
            {{ 'COMPONENTS.PREVIOUS_VERSION' | translate }}
          </button>
          <button
            nz-button
            nz-dropdown
            nzTrigger="click"
            [nzDropdownMenu]="versionMenu"
            [nzOverlayStyle]="{ 'max-height': '250px', 'overflow-y': 'auto' }"
            class="version-selector"
          >
            {{ currentVersionNum ? ('PROJECT.VERSION' | translate) + ' ' + currentVersionNum : ('COMPONENTS.SELECT_VERSION' | translate) }}
            <i nz-icon nzType="down"></i>
          </button>
          <button
            nz-button
            nzType="default"
            (click)="navigateVersion(1)"
            [disabled]="!hasNextVersion()"
          >
            {{ 'COMPONENTS.NEXT_VERSION' | translate }}
          </button>
          <nz-dropdown-menu #versionMenu="nzDropdownMenu">
            <ul nz-menu>
              <li
                nz-menu-item
                *ngFor="let version of projectHistory; trackBy: trackByVersion"
                (click)="revertToVersion(version.versionNum)"
              >
                <span>
                  {{ 'PROJECT.VERSION' | translate }} {{ version.versionNum }}
                </span>
                <span
                  nz-popover
                  nzPopoverTrigger="hover"
                  nz-tooltip
                  [nzTooltipTitle]="('GENERAL.CREATED' | translate) + ': ' + (version.created | date: DateFormat.SHORT)"
                  class="version-icon-wrapper"
                >
                  <i nz-icon nzType="field-time"></i>
                </span>

                <button
                  *ngIf="version.versionNum > 1"
                  nz-button
                  nzType="text"
                  (click)="openDiffModal(version)"
                  [nz-tooltip]="'COMPONENTS.CHANGE_SUMMARY.CHANGES_SINCE' | translate: { version: version.versionNum - 1 }"
                  class="version-icon-wrapper"
                >
                  <i nz-icon nzType="diff"></i>
                </button>
              </li>
            </ul>
          </nz-dropdown-menu>
        </div>
        <div class="redo-undo-container">
          <app-redo-undo (sectionInputsChange)="onSectionInputsChange($event)"> </app-redo-undo>
        </div>
        <div class="inline-edit-container">
          <label nz-checkbox [(ngModel)]="inlineEdit.enabled">
            {{ 'COMPONENTS.INLINE_EDIT' | translate }}
          </label>
        </div>
      </div>
    </div>
  </div>
</nz-layout>
