@import '../../../../common.less';
@import '../../../../colors.less';

nz-layout {
  background-color: @transparent;
}

#footerdiv {
  margin-top: @spacing12;
  position: fixed;
  bottom: @spacing0;
  right: @spacing0;
  width: @width-full;
  padding: @spacing12;
  background: @background-white;
  border-top: @border-default;
}

.button-margin {
  margin-left: @spacing8;
  margin-right: @spacing8;
}

.version-button {
  margin-right: @spacing8;
}

.version-select {
  margin-right: @spacing8;
}

.redo-undo-container {
  margin-right: @spacing8;
}

.inline-edit-container {
  margin-right: @spacing20;
}

.full-width {
  width: @width-full;
}

.version-icon-wrapper {
  display: inline-block;
  cursor: pointer;
  margin-left: 4px;
}

.version-info-icon,
.version-diff-icon {
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.45);
}
