<nz-layout>
  <div>
    <app-edit [inlineEdit]="inlineEdit" [projectId]="projectId" [versionNum]="currentVersionNum"> </app-edit>

    <div
      nz-row
      id="footerdiv"
      style="position: fixed; bottom: 0; right: 0; width: 100%; padding: 16px; background: white; border-top: 1px solid lightgray"
    >
      <div nz-col nzSpan="22"></div>
      <div nz-row nzJustify="start" nzAlign="middle" style="width: 100%">
        <button
          nz-button
          nzType="primary"
          type="submit"
          (click)="nextPage()"
          class="button-margin next-button"
          [disabled]="isNextButtonDisabled"
          nz-tooltip
          [nzTooltipTitle]="'COMPONENTS.NEXT_TOOLTIP' | translate"
        >
          {{ 'GENERAL.NEXT' | translate }}
        </button>

        <div>
          <button nz-button nzType="default" (click)="navigateVersion(1)" [disabled]="!hasNextVersion()" style="margin-right: 8px">
            {{ 'COMPONENTS.NEXT_VERSION' | translate }}
          </button>
        </div>

        <!-- Dropdown -->
        <div style="margin-left: 8px">
          <button
            nz-button
            nz-dropdown
            nzTrigger="click"
            [nzDropdownMenu]="versionMenu"
            [nzOverlayStyle]="{ 'max-height': '250px', 'overflow-y': 'auto' }"
            style="width: 120px"
          >
            {{ currentVersionNum ? ('VERSION' | translate) + ' ' + currentVersionNum : ('COMPONENTS.SELECT_VERSION' | translate) }}
            <i nz-icon nzType="down"></i>
          </button>
          <nz-dropdown-menu #versionMenu="nzDropdownMenu">
            <ul nz-menu>
              <li
                nz-menu-item
                *ngFor="let version of projectHistory; trackBy: trackByVersion"
                (click)="revertToVersion(version.versionNum)"
              >
                <span> {{ 'VERSION' | translate }} {{ version.versionNum }} </span>
                <span
                  nz-popover
                  nzPopoverTrigger="hover"
                  nz-tooltip
                  [nzTooltipTitle]="('GENERAL.CREATED' | translate) + ': ' + (version.created | date: DateFormat.SHORT)"
                  class="version-icon-wrapper"
                >
                  <i nz-icon nzType="field-time"></i>
                </span>

                <button
                  *ngIf="version.versionNum > 1"
                  nz-button
                  nzType="text"
                  (click)="openDiffModal(version)"
                  [nz-tooltip]="'COMPONENTS.CHANGE_SUMMARY.CHANGES_SINCE' | translate: { version: version.versionNum - 1 }"
                  class="version-icon-wrapper"
                  style="margin-left: 8px"
                >
                  <i nz-icon nzType="diff"></i>
                </button>
              </li>
            </ul>
          </nz-dropdown-menu>
        </div>

        <div>
          <button nz-button nzType="default" (click)="navigateVersion(-1)" [disabled]="!hasPreviousVersion()" style="margin-right: 8px">
            {{ 'COMPONENTS.PREVIOUS_VERSION' | translate }}
          </button>
        </div>

        <div style="margin-right: 20px">
          <app-redo-undo (sectionInputsChange)="onSectionInputsChange($event)"> </app-redo-undo>
        </div>

        <div style="margin-right: 20px">
          <label nz-checkbox [(ngModel)]="inlineEdit.enabled">{{ 'COMPONENTS.INLINE_EDIT' | translate }}</label>
        </div>
      </div>
    </div>
  </div>
</nz-layout>
