@import '../../../../../colors.less';
@import '../../../../../typography.less';

.table-center {
  text-align: center;
}

.option-label {
  max-width: 300px;
}

.error-text {
  color: @accent-danger;
}

.required-section {
  border: @border-default;
  padding-left: @spacing8;
  padding-right: @spacing8;
  margin-bottom: @spacing8;
}
