<form id="selectEditFormID" nz-form [formGroup]="formData">
  <nz-form-item>
    <nz-form-control formArrayName="defaultValue">
      <nz-table #smallTable nzBordered nzSize="small" [nzData]="options.controls">
        <thead>
          <tr>
            <th>{{'general.DESCRIPTION' | translate}}</th>
            <th style="text-align: center">{{'components.checkbox_group.DISABLED?' | translate}}</th>
            <th style="text-align: center">{{'components.checkbox_group.CHECKED?' | translate}}</th>
            <th style="text-align: center">{{'components.combobox.COMBOBOX_REMOVE' | translate}}</th>
          </tr>
        </thead>
        <tbody cdkDropList (cdkDropListDropped)="drop($event)">
          @for (option of options.controls; track option.value.value; let i = $index) {
            <tr [formGroupName]="i" cdkDrag [cdkDragData]="option">
              <td>
                <p class="option-label">{{ option.value.label }}</p>
              </td>
              <td style="text-align: center"><label nz-checkbox formControlName="disabled"></label></td>
              <td style="text-align: center"><label nz-checkbox formControlName="checked"></label></td>
              <td style="text-align: center"><button nz-button nzType="link" nzDanger (click)="removeOption(i)">{{'components.combobox.COMBOBOX_REMOVE' | translate}}</button></td>
            </tr>
          }
        </tbody>
      </nz-table>
      @if (options.invalid) {
        <span style="color: red">{{'components.radio_group.OPTION_ATLEAST' | translate}}: {{ getMinOptions() }}</span>
      }
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzErrorTip]="newOptionErrors">
      <nz-input-group nzSearch [nzAddOnAfter]="addOptionButton">
        <input type="text" nz-input placeholder="{{'components.combobox.NEW_OPTION' | translate}}" [appMutateText]="trimString" [formControl]="newOption" />
      </nz-input-group>
      <ng-template #addOptionButton>
        <button nz-button nzType="primary" [disabled]="newOption.invalid" (click)="addOption()">{{'components.combobox.ADD_OPTION' | translate}}</button>
      </ng-template>
      <ng-template #newOptionErrors let-control>
        @if (hasErrors(control, 'required', 'fieldIsEmpty')) {
          <div>{{ 'components.CANNOT_BE_EMPTY' | translate }}</div>
        }
        @if (hasErrors(control, 'listContainsItem')) {
          <div>{{'components.radio_group.OPTION_ALREADY' | translate}}:: {{ control.errors['listContainsItem'] }}</div>
        }
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-label nzRequired><span>{{ 'components.COMPONENT_QUESTION' | translate }}</span></nz-form-label>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="questionErrors">
      <input nz-input placeholder="{{'components.PLACEHOLDER_QUESTION' |translate }}" formControlName="questionValue" />
    </nz-form-control>
    <ng-template #questionErrors let-control>
      @if (hasErrors(control, 'required')) {
        <div>{{ 'components.CANNOT_BE_EMPTY' | translate }}</div>
      }
    </ng-template>
  </nz-form-item>

  <span>{{ 'components.COMPONENT_DESCRIPTION' | translate }}</span>
  <nz-form-item>
    <nz-form-control>
      <textarea nz-input nzAutosize placeholder="{{'general.DESCRIPTION' | translate}}" formControlName="descriptionValue"></textarea>
    </nz-form-control>
  </nz-form-item>

  <nz-divider></nz-divider>
  <div class="required-section">
    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="required">{{ 'components.IS_REQUIRED' | translate }}</label>
      </nz-form-control>
    </nz-form-item>
    @if (getControlValue('required')) {
      <span>{{ 'components.PLACEHOLDER_ERROR_REQUIRED' | translate }}</span>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="requiredErrorMessageTemplate">
          <input nz-input formControlName="requiredMessage" placeholder="{{ 'components.PLACEHOLDER_ERROR_REQUIRED' | translate }}" />
        </nz-form-control>
        <ng-template #requiredErrorMessageTemplate let-control>
          @if (hasErrors(control, 'required')) {
            <div>{{ 'components.IS_FIELD_REQUIRED' | translate }}</div>
          }
        </ng-template>
      </nz-form-item>
    }
  </div>
</form>
