<form id="selectEditFormID" nz-form [formGroup]="formData">
  <nz-form-item>
    <nz-form-control formArrayName="defaultValue">
      <nz-table #smallTable nzBordered nzSize="small" [nzData]="options.controls">
        <thead>
          <tr>
            <th>Description</th>
            <th style="text-align: center">Disabled?</th>
            <th style="text-align: center">Checked?</th>
            <th style="text-align: center">Remove</th>
          </tr>
        </thead>
        <tbody cdkDropList (cdkDropListDropped)="drop($event)">
          @for (option of options.controls; track option.value.value; let i = $index) {
            <tr [formGroupName]="i" cdkDrag [cdkDragData]="option">
              <td><p style="max-width: 300px">{{ option.value.label }}</p></td>
              <td style="text-align: center"><label nz-checkbox formControlName="disabled"></label></td>
              <td style="text-align: center"><label nz-checkbox formControlName="checked"></label></td>
              <td style="text-align: center"><button nz-button nzType="link" nzDanger (click)="removeOption(i)">Remove</button></td>
            </tr>
          }
        </tbody>
      </nz-table>
      @if (options.invalid) {
        <span style="color: red">Please record at least {{getMinOptions()}} more options!</span>
      }
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="newOptionErrors">
      <nz-input-group nzSearch  [nzAddOnAfter]="addOptionButton">
        <input type="text"
               nz-input
               placeholder="New Option"
               [appMutateText]="String.trim"
               [formControl]="newOption"/>
      </nz-input-group>
      <ng-template #addOptionButton>
        <button nz-button nzType="primary"
                [disabled]="newOption.invalid"
                (click)="addOption()">Add Option</button>
      </ng-template>
      <ng-template #newOptionErrors let-control>
        @if (hasErrors(control, 'required', 'fieldIsEmpty')) {
          <div>Cannot be empty!</div>
        }
        @if (hasErrors(control, 'listContainsItem')) {
          <div>Option already in the list: {{control.errors['listContainsItem']}}!</div>
        }
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <span>Question:</span>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="questionErrors">
      <input nz-input placeholder="Question" formControlName="questionValue"/>
    </nz-form-control>
    <ng-template #questionErrors let-control>
      @if (hasErrors(control, 'required')) {
        <div>Cannot be empty!</div>
      }
    </ng-template>
  </nz-form-item>

  <span>Description:</span>
  <nz-form-item>
    <nz-form-control>
      <textarea nz-input nzAutosize placeholder="Description" formControlName="descriptionValue"></textarea>
    </nz-form-control>
  </nz-form-item>

  <div style="border: 1px solid lightgray; padding-left: 10px; padding-right: 10px; margin-bottom: 10px">
    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="required">Is Required?</label>
      </nz-form-control>
    </nz-form-item>
    @if (getControlValue('required')) {
      <span>Required error message</span>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="requiredErrorMessageTemplate">
          <input nz-input
                 formControlName="requiredMessage"
                 placeholder="Required error message"/>
        </nz-form-control>
        <ng-template #requiredErrorMessageTemplate let-control>
          @if (hasErrors(control, 'required')) {
            <div>If the field is required the message cannot be empty!</div>
          }
        </ng-template>
      </nz-form-item>
    }
  </div>
</form>
