<form id="datePickerEditFormID" nz-form [formGroup]="formData">
  <span>{{'components.COMPONENT_QUESTION' | translate}}:</span>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="questionErrors">
      <input nz-input placeholder="{{'components.QUESTION' | translate}}" formControlName="questionValue"/>
    </nz-form-control>
    <ng-template #questionErrors let-control>
      <div *ngIf="hasErrors(control, 'required')">{{'components.CANNOT_BE_EMPTY' | translate}}</div>
    </ng-template>
  </nz-form-item>

  <span>{{'components.COMPONENT_DESCRIPTION' | translate}}:</span>
  <nz-form-item>
    <nz-form-control>
      <textarea nz-input nzAutosize placeholder="{{'components.PLACEHOLDER_DESCRIPTION' | translate}}" formControlName="descriptionValue"></textarea>
    </nz-form-control>
  </nz-form-item>

  <span>{{'components.range_picker.SET_PLACEHOLDER_VALUE_RANGE' | translate}}</span>
  <nz-form-item>
    <nz-form-control>
      <input nz-input placeholder="{{'components.PLACEHOLDER' | translate}}" formControlName="placeholderValue"/>
    </nz-form-control>
  </nz-form-item>

  <div style="border: 1px solid lightgray; padding-left: 10px; padding-right: 10px; margin-bottom: 10px">
    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="setDefaultValue">{{'components.date_picker.SET_DEFAULT_VALUE?' | translate}}</label>
      </nz-form-control>
    </nz-form-item>
    <div *ngIf="getControlValue('setDefaultValue')">
      <span>{{'components.date_picker.SET_DEFAULT_VALUE' | translate}}</span>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="defaultValueErrorTemplate">
          <nz-date-picker
            nzPlaceHolder="{{'components.date_picker.SELECT_DATE' | translate}}"
            formControlName="defaultValue"
            [nzMode]="getControlValue('mode')"
            [nzFormat]="getFullFormat"
            [nzDisabledDate]="getDisabledDateConfig(rawFormData)"
            [nzDisabledTime]="disabledTime"
            [nzShowTime]="getTimeOptions"
            [nzShowWeekNumber]="getControlValue('showWeekNumber')"
            [nzShowToday]="true"
            style="width: 100%"></nz-date-picker>
        </nz-form-control>
        <ng-template #defaultValueErrorTemplate let-control>
          <div *ngFor="let message of getErrorMessages(control); trackBy: identifyErrorMessages">{{message}}</div>
        </ng-template>
      </nz-form-item>
    </div>
  </div>

  <span>{{'components.date_picker.DATE_PICKER_MODE' | translate}}:</span>
  <nz-form-item>
    <nz-form-control>
      <nz-select formControlName="mode" nzPlaceHolder="{{'components.date_picker.MODE' | translate}}">
        <nz-option *ngFor="let item of datePickerModes; trackBy: identifyDatePickerModes" [nzValue]="item.mode" [nzLabel]="item.label"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <span>{{'components.date_picker.DATE_FORMAT' | translate}}:</span>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="dateFormatErrors">
      <input nz-input placeholder="{{'components.date_picker.DATE_FORMAT_PLACEHOLDER' | translate}}" formControlName="dateFormat"/>
    </nz-form-control>
    <ng-template #dateFormatErrors let-control>
      <div *ngIf="hasErrors(control, 'required')">{{'components.CANNOT_BE_EMPTY' | translate}}</div>
    </ng-template>
  </nz-form-item>

  <div style="border: 1px solid lightgray; padding-left: 10px; padding-right: 10px; margin-bottom: 10px">
    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox
               formControlName="showTime"
               [nzDisabled]="getControlValue('mode') !== 'date'">{{'components.date_picker.SHOW_TIME?' | translate}}</label>
      </nz-form-control>
    </nz-form-item>
    <div *ngIf="getControlValue('showTime')">
      <span>{{'components.date_picker.TIME_FORMAT' | translate}}:</span>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="timeFormatErrors">
          <input nz-input placeholder="{{'components.date_picker.PLACEHOLDER_TIME_FORMAT' | translate}}" formControlName="timeFormat"/>
        </nz-form-control>
        <ng-template #timeFormatErrors let-control>
          <div *ngIf="hasErrors(control, 'required')">{{'components.CANNOT_BE_EMPTY' | translate}}</div>
        </ng-template>
      </nz-form-item>
    </div>
  </div>

  <span>{{'components.date_picker.WEEK_NUMBERS' | translate}}:</span>
  <nz-form-item>
    <nz-form-control>
      <label nz-checkbox formControlName="showWeekNumber">{{'components.date_picker.WEEK_NUMBERS?' | translate}}</label>
    </nz-form-control>
  </nz-form-item>

  <span>{{'components.date_picker.INLINE_COMPONENT' | translate}}:</span>
  <nz-form-item>
    <nz-form-control>
      <label nz-checkbox formControlName="inlineMode">{{'components.date_picker.INLINE_COMPONENT?' | translate}}</label>
    </nz-form-control>
  </nz-form-item>

  <div style="border: 1px solid lightgray; padding-left: 10px; padding-right: 10px; margin-bottom: 10px">
    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="required">{{'components.date_picker.IS_REQUIRED' | translate}}</label>
      </nz-form-control>
    </nz-form-item>
    <div *ngIf="getControlValue('required')">
      <span>{{'components.date_picker.REQUIRED_MESSAGE' | translate}}</span>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="requiredErrorMessageTemplate">
          <input nz-input
                 formControlName="requiredMessage"
                 placeholder="{{'components.date_picker.PLACEHOLDER_ERROR_REQUIRED' | translate}}"/>
        </nz-form-control>
        <ng-template #requiredErrorMessageTemplate let-control>
          <div *ngIf="hasErrors(control, 'required')">{{'components.date_picker.REQUIRED_MESSAGE_ERROR' | translate}}</div>
        </ng-template>
      </nz-form-item>
    </div>
  </div>
</form>
