.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tooltip-icon {
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 8px;
}

.character-counter {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  font-size: 12px;
}
