<nz-form-item>
  @if (label) {
    <ng-container [ngTemplateOutlet]="label"> </ng-container>
  }

  <nz-form-control [nzErrorTip]="errorTemplate">
    <textarea
      #inputComponent
      nz-input
      [required]="data.required"
      [minlength]="data.minLengthNumber ?? null"
      [maxlength]="data.maxLengthNumber ?? null"
      [disabled]="!inlineEdit.enabled"
      [placeholder]="data.placeholderValue ?? ''"
      [(ngModel)]="data.defaultValue"
      (change)="onChange($event)"
      (mousedown)="$event.stopPropagation()"
      nzAutosize
    ></textarea>
    <ng-container *ngTemplateOutlet="footerTemplate" />
  </nz-form-control>
</nz-form-item>
<ng-template #errorTemplate let-control>
  @for (message of getErrorMessages(control); track message) {
    <div>{{ message }}</div>
  }
</ng-template>
<ng-template #footerTemplate>
  <div class="footer-container">
    @if (data.showTooltip) {
      <div nz-icon nz-tooltip [nzTooltipTitle]="data.tooltipText" nzType="info-circle" class="tooltip-icon"></div>
    }
    @if (data.maxLength && data.showCharacterCounter) {
      <div class="character-counter">{{ inputComponent.value.length }}/{{ data.maxLengthNumber }}</div>
    }
  </div>
</ng-template>
