<app-input-layout
  [questionValue]="questionValue"
  [descriptionValue]="descriptionValue"
  [answerValue]="answerValue"
  [type]="type"
  [inputPlaceholder]="inputPlaceholder"
  [inputTemplate]="inputTemplate"
  (questionValueChanged)="onQuestionValueChange($event)"
  (descriptionValueChanged)="onDescriptionValueChange($event)"
>
</app-input-layout>

<ng-template #inputTemplate>
  <textarea
    nz-input
    [placeholder]="textareaPlaceholder"
    [(ngModel)]="answerValue"
    nzAutosize
    (ngModelChange)="onAnswerValueChange($event)"
  ></textarea>
</ng-template>
