<nz-form-item>
  <nz-form-control [nzErrorTip]="errorTemplate">
    <textarea
      nz-input
      [disabled]="!inlineEdit.enabled"
      [placeholder]="data.placeholderValue"
      [(ngModel)]="data.defaultValue"
      [ngModelOptions]="{updateOn: data.changeDetection}"
      (ngModelChange)="onChange($event)"
      (mousedown)="$event.stopPropagation()"
      nzAutosize></textarea>
  </nz-form-control>
</nz-form-item>
<ng-template #errorTemplate let-control>
  <span style="white-space: pre-wrap">{{control.errors | json}}</span>
</ng-template>

