<form id="selectEditFormID" nz-form [formGroup]="formData">
  <nz-form-item>
    <ng-template #listHeader>
      <div class="list-header">{{ 'components.combobox.CHOICES_VALUES' | translate }}</div>
    </ng-template>
    <nz-form-control formArrayName="selectOptions">
      <ul nz-list cdkDropList (cdkDropListDropped)="drop($event)" nzBordered [nzHeader]="listHeader">
        @for (option of options.controls; track option.value; let i = $index) {
          <li nz-list-item cdkDrag [cdkDragData]="option">
            <ul nz-list-item-actions>
              <nz-list-item-action>
                <button nz-button nzType="link" nzDanger (click)="removeOption(option, i)">
                  {{ 'components.combobox.COMBOBOX_REMOVE' | translate }}
                </button>
              </nz-list-item-action>
            </ul>
            <p class="option-description">{{ option.value }}</p>
          </li>
        }
      </ul>
      @if (options.invalid) {
        <span class="error-text">{{ 'components.combobox.RECORD_MORE_OPTION' | translate }} {{ getMinOptions() }}</span>
      }
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="newOptionErrors">
      <nz-input-group nzSearch [nzAddOnAfter]="addOptionButton">
        <input
          type="text"
          nz-input
          placeholder="{{ 'components.combobox.NEW_OPTION' | translate }}"
          [appMutateText]="trimString"
          [formControl]="newOption"
        />
      </nz-input-group>
      <ng-template #addOptionButton>
        <button nz-button nzType="primary" [disabled]="newOption.invalid" (click)="addOption()">
          {{ 'components.combobox.ADD_OPTION' | translate }}
        </button>
      </ng-template>
      <ng-template #newOptionErrors let-control>
        @if (hasErrors(control, 'required', 'fieldIsEmpty')) {
          <div>{{ 'components.CANNOT_BE_EMPTY' | translate }}</div>
        }
        @if (hasErrors(control, 'listContainsItem')) {
          <div>{{ 'components.combobox.OPTION_ALREADY' | translate }}{{ control.errors['listContainsItem'] }}!</div>
        }
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-label nzRequired><span>{{ 'components.COMPONENT_QUESTION' | translate }}:</span></nz-form-label>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="questionErrors">
Add  <input nz-input placeholder="Question" formControlName="questionValue" />
    </nz-form-control>
    <ng-template #questionErrors let-control>
      @if (hasErrors(control, 'required')) {
        <div>{{ 'components.CANNOT_BE_EMPTY' | translate }}</div>
      }
    </ng-template>
  </nz-form-item>

  <span>{{ 'components.COMPONENT_DESCRIPTION' | translate }}:</span>
  <nz-form-item>
    <nz-form-control>
      <textarea nz-input nzAutosize placeholder="Description" formControlName="descriptionValue"></textarea>
    </nz-form-control>
  </nz-form-item>

  <span>{{ 'components.SET_PLACEHOLDER_VALUE' | translate }}</span>
  <nz-form-item>
    <nz-form-control>
      <input nz-input placeholder="{{ 'components.PLACEHOLDER' | translate }}" formControlName="placeholderValue" />
    </nz-form-control>
  </nz-form-item>

  <nz-divider></nz-divider>
  <div class="section-container">
    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="setDefaultValue">{{ 'components.SET_DEFAULT_VALUE?' | translate }}</label>
      </nz-form-control>
    </nz-form-item>
    @if (getControlValue('setDefaultValue')) {
    <nz-form-label [nzRequired]="getControlValue('required')"> <span>{{ 'components.SET_DEFAULT_VALUE' | translate }}</span> </nz-form-label>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="defaultValueErrorTemplate">
          <nz-select
            formControlName="defaultValue"
            [nzMode]="isMultipleChoice ? 'multiple' : 'default'"
            nzPlaceHolder="{{ 'components.combobox.SELECT_DEFAULT_VALUE' | translate }}"
            nzAllowClear
          >
            @for (option of optionsValues; track option) {
              <nz-option [nzLabel]="option" [nzValue]="option"></nz-option>
            }
          </nz-select>
        </nz-form-control>
        <ng-template #defaultValueErrorTemplate let-control>
          @for (message of getErrorMessages(control); track message) {
            <div>{{ message }}</div>
          }
        </ng-template>
      </nz-form-item>
    }
  </div>

  <nz-divider></nz-divider>
  <span>{{ 'components.combobox.IS_MULTIPLE_CHOICE' | translate }}</span>
  <nz-form-item>
    <nz-form-control>
      <label nz-checkbox formControlName="isMultipleChoice">{{ 'components.combobox.MULTIPLE' | translate }}</label>
    </nz-form-control>
  </nz-form-item>

  <nz-divider></nz-divider>
  <div class="section-container">
    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="required">{{ 'components.IS_REQUIRED' | translate }}</label>
      </nz-form-control>
    </nz-form-item>
    @if (getControlValue('required')) {
      <span>{{ 'components.PLACEHOLDER_ERROR_REQUIRED' | translate }}</span>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="requiredErrorMessageTemplate">
          <input nz-input formControlName="requiredMessage" placeholder="{{ 'components.PLACEHOLDER_ERROR_REQUIRED' | translate }}e" />
        </nz-form-control>
        <ng-template #requiredErrorMessageTemplate let-control>
          @if (hasErrors(control, 'required')) {
            <div>{{ 'components.IS_FIELD_REQUIRED' | translate }}</div>
          }
        </ng-template>
      </nz-form-item>
    }
  </div>

  <div class="section-container">
    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="showTooltip">{{ 'components.INPUT_TOOLTIP' | translate }}</label>
      </nz-form-control>
    </nz-form-item>
    @if (getControlValue('showTooltip')) {
    <nz-form-label nzRequired> <span>{{ 'components.TOOLTIP_TEXT' | translate }}:</span></nz-form-label>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="tooltipTextErrorMessageTemplate">
          <input nz-input formControlName="tooltipText" placeholder="{{ 'components.TOOLTIP_TEXT' | translate }}" />
        </nz-form-control>
        <ng-template #tooltipTextErrorMessageTemplate let-control>
          @if (hasErrors(control, 'required')) {
            <div>{{ 'components.PROVIDE_TOOLTIP' | translate }}</div>
          }
        </ng-template>
      </nz-form-item>
    }
  </div>
</form>
