<ng-template #render let-item>
  <nz-icon
    [nzType]="item.type | variableIcon"
    nz-tooltip
    [nzTooltipTitle]="'COMPONENTS.CONDITION_SETTINGS.VARIABLE_MODAL.VARIABLE_TYPES.' + item.type | translate"
    class="mr-8 position-relative"
  >
    @if (item.type === CodeEditorVariableType.DATE_ARRAY || item.type === CodeEditorVariableType.STRING_ARRAY) {
      <nz-icon nzType="expand" nzTheme="outline" class="position-absolute font-size-20" style="left: -3px" />
    }
  </nz-icon>
  <span>{{ item.title }}</span>
</ng-template>

<nz-transfer
  [nzListStyle]="{ width: '100%' }"
  [nzDataSource]="allVariables"
  [nzTitles]="[
    'COMPONENTS.CONDITION_SETTINGS.VARIABLE_MODAL.AVAILABLE_VARIABLES' | translate,
    'COMPONENTS.CONDITION_SETTINGS.VARIABLE_MODAL.SELECTED_VARIABLES' | translate,
  ]"
  [nzRender]="render"
  (nzChange)="onChange($event)"
></nz-transfer>

<div *nzModalFooter>
  <button nz-button nzType="default" (click)="closeModal()">{{ 'GENERAL.CANCEL' | translate }}</button>
  <button nz-button nzType="primary" (click)="saveModal()">{{ 'SAVE' | translate }}</button>
</div>
