<!-- This part is exactly copied from edit.component.html from line 116 (in current version) to line 168 -->
<nz-card
  nzTitle="section"
  cdkDrag
  cdkDropList
  [cdkDropListData]="formInputs"
  (cdkDropListDropped)="drop($event)"
>
  <div class="element-box" *ngFor="let item of formInputs" cdkDrag>
    <ng-container [ngSwitch]="item.component">
      <app-text-input
        *ngSwitchCase="textInputOptions.component"
        [type]="item.type"
        [id]="item.id"
        [sectiondId]="item.sectiondId"
        [questionValue]="item.question !== undefined ? item.question : 'Text Input'"
        [answerValue]="item.answer"
        [descriptionValue]="item.description !== undefined ? item.description : 'The input can be used for...'"
        (valueChanged)="onValueChanged($event)"
      ></app-text-input>
      <app-number-input
        *ngSwitchCase="numberInputOptions.component"
        [type]="item.type"
        [id]="item.id"
        [sectiondId]="item.sectiondId"
        [questionValue]="item.question !== undefined ? item.question : 'Text Input'"
        [answerValue]="item.answer"
        [descriptionValue]="item.description !== undefined ? item.description : 'The input can be used for...'"
        (valueChanged)="onValueChanged($event)"
      ></app-number-input>
      <app-date-picker
        *ngSwitchCase="dateInputOptions.component"
        [id]="item.id"
        [sectiondId]="item.sectiondId"></app-date-picker>
      <app-textarea
        *ngSwitchCase="textAreaInputOptions.component"
        [textareaPlaceholder]="item.textareaPlaceholder"
        [id]="item.id"
        [sectiondId]="item.sectiondId"></app-textarea>
      <app-select
        *ngSwitchCase="selectInputOptions.component"
        [answerOptions]="item.answerOptions"
        [id]="item.id"
        [sectiondId]="item.sectiondId"></app-select>
      <app-picture-input
        *ngSwitchCase="pictureInputOptions.component"
        [fileName]="pictureInputOptions.fileName"
        [id]="item.id"
        [sectiondId]="item.sectiondId"></app-picture-input>
    </ng-container>
  </div>
</nz-card>
