<div [id]="sectiondId" cdkDrag #sectionId="cdkDropList" cdkDropList [cdkDropListData]="formInputs">
  <h3>SECTION</h3>
  <div class="element-list" *ngFor="let item of sectionList" cdkDrag>
    <ng-container [ngSwitch]="item.component">
      <app-text-input *ngSwitchCase="textInputOptions.component" [type]="item.type"></app-text-input>
      <app-text-input *ngSwitchCase="numberInputOptions.component" [type]="item.type"></app-text-input>
      <app-date-picker *ngSwitchCase="dateInputOptions.component" [questionValue]="item.questionValue"></app-date-picker>
      <app-textarea
        *ngSwitchCase="textAreaInputOptions.component"
        [questionValue]="item.questionValue"
        [textareaPlaceholder]="item.textareaPlaceholder"
      ></app-textarea>
      <app-select
        *ngSwitchCase="selectInputOptions.component"
        [questionValue]="item.questionValue"
        [answerOptions]="item.answerOptions"
      ></app-select>
      <app-picture-input *ngSwitchCase="pictureInputOptions.component" [fileName]="pictureInputOptions.fileName"></app-picture-input>
    </ng-container>
  </div>
</div>
