<div>
  <h3>Choices/Values</h3>
  <ul nz-list [nzDataSource]="selectOptions" nzBordered>
    <li *ngFor="let item of selectOptions" nz-list-item nzNoFlex>
      <ul nz-list-item-actions>
        <nz-list-item-action>
          <button nz-button nzType="link" nzDanger (click)="removeOption(item)">Remove</button>
        </nz-list-item-action>
      </ul>
    {{ item }}
    </li>
    <nz-list-footer>
      <input nz-input placeholder="New Option" [(ngModel)]="newOption" />
      <button nz-button nzType="primary" (click)="addOption()">Add Option</button>
    </nz-list-footer>
  </ul>

  <h3>Set Default Value</h3>
  <nz-select
    [(ngModel)]="defaultSelectValue"
    [nzMode]="isMultiple ? 'multiple' : 'default'"
    [nzPlaceHolder]="'Please select default value'"
    nzAllowClear
    style="width: 200px">
    <nz-option *ngFor="let option of selectOptions" [nzLabel]="option" [nzValue]="option"></nz-option>
  </nz-select>

  <h3>Set Placeholder Value</h3>
  <input nz-input placeholder="Placeholder" [(ngModel)]="placeholderValue" style="width: 200px"/>

  <h3>Is Multiple Choice?</h3>
  <label nz-checkbox [(ngModel)]="isMultiple">Multiple</label>
</div>
