<nz-card
  [nzTitle]="titleTemplate"
  [nzExtra]="headerButtons"
  [nzBodyStyle]="{ 'padding-right': '24px', 'padding-left': '24px' }"
  [ngClass]="{
    'valid-style': inputHolderForm.valid,
    'invalid-style': inputHolderForm.invalid,
    'card-container': true
  }"
>
  <form #inputHolderForm="ngForm" nz-form class="form-container">
    <nz-form-label nzRequired><span>{{ 'components.COMPONENT_QUESTION' | translate }}</span></nz-form-label>
    <nz-form-item [ngClass]="{'form-item': true, 'form-item-border': !inlineEdit.enabled}">
      <nz-form-control nzErrorTip="">
        <span [hidden]="inlineEdit.enabled">{{ inputData.questionValue }}</span>
        <input
          #questionInput="ngModel"
          [hidden]="!inlineEdit.enabled"
          nz-input
          nzSize="small"
          name="inputQuestion"
          required
          [placeholder]="formInput.questionPlaceholder"
          (mousedown)="$event.stopPropagation()"
          [(ngModel)]="inputData.questionValue"
          [ngModelOptions]="{ updateOn: 'blur' }"
          (ngModelChange)="change()"
        />
      </nz-form-control>
    </nz-form-item>
    <span>{{'components.QUESTION_DESCRIPTION' | translate}}:</span>
    <nz-form-item class="form-item">
      <nz-form-control>
        <span class="pre-wrap" [hidden]="inlineEdit.enabled">{{ inputData.descriptionValue }}</span>
        <textarea
          [hidden]="!inlineEdit.enabled"
          nz-input
          nzAutosize
          name="inputDescription"
          (mousedown)="$event.stopPropagation()"
          [placeholder]="formInput.descriptionPlaceholder"
          [(ngModel)]="inputData.descriptionValue"
          [ngModelOptions]="{ updateOn: 'blur' }"
          (ngModelChange)="change()"
        ></textarea>
      </nz-form-control>
    </nz-form-item>
    <div>{{ 'components.INPUT_PREVIEW' | translate }}:</div>
    <ng-container *ngComponentOutlet="componentType; inputs: componentInputs" />
  </form>
  <span class="id-text">[ID: {{ inputData.id }} | section ID: {{ inputData.sectionId }}]</span>
</nz-card>
<ng-template #titleTemplate>
  <span>{{ formInput.title | translate}}</span>
  @if (inputHolderForm.invalid) {
    <span
      nz-tooltip
      nzTooltipTitle="{{ 'components.input_holder.INVALID_INPUT' | translate }}"
      nzTooltipColor="red"
      nz-icon
      nzType="exclamation-circle"
      nzTheme="outline"
      class="error-icon"
    ></span>
  }
</ng-template>
<ng-template #headerButtons>
  <button nz-button nzType="primary" nzShape="circle" (click)="editComponent()" class="button-spacing">
    <span nz-icon nzType="edit" nzTheme="outline"></span>
  </button>
  <button
    nz-popconfirm
    nzPopconfirmTitle="{{ 'components.input_holder.POP_RESET' | translate }}"
    [nzCancelText]="'general.CANCEL' | translate"
    [nzOkText]="'general.OK' | translate"
    (nzOnConfirm)="resetComponent()"
    nzPopconfirmPlacement="top"
    nz-button
    nzType="dashed"
    nzShape="round"
    class="button-spacing"
  >
    <span>{{ 'components.input_holder.RESET' | translate }}</span>
  </button>
  <button
    nz-popconfirm
    nzPopconfirmTitle="{{ 'components.input_holder.POP_REMOVE' | translate }}"
    [nzCancelText]="'general.CANCEL' | translate"
    [nzOkText]="'general.OK' | translate"
    (nzOnConfirm)="removeComponent()"
    nzPopconfirmPlacement="top"
    nz-button
    nzType="default"
    nzDanger
    nzShape="circle"
    class="button-spacing"
  >
    <span nz-icon nzType="delete" nzTheme="outline"></span>
  </button>
</ng-template>
