@import '../../../../colors.less';

.valid-style {
  width: 100%;
}

.invalid-style {
  width: 100%;
  border: solid 1px @accent-danger;
}

.card-container {
  height: 100%;
}

.form-container {
  width: 100%;
}

.form-item {
  margin-bottom: 10px;
}

.form-item-border {
  border-bottom: 1px solid @border-gray;
}

.pre-wrap {
  white-space: pre-wrap;
}

.id-text {
  color: @accent-danger;
}

.error-icon {
  color: @accent-danger;
  margin-left: 20px;
}

.button-spacing {
  margin-left: 10px;
}
