<nz-card
  [nzTitle]="titleTemplate"
  [nzExtra]="headerButtons"
  [nzBodyStyle]="{'padding-right': '24px', 'padding-left': '24px'}"
  style="width: 100%">
  <div style="padding-bottom: 10px">
    <span *ngIf="!inlineEdit.enabled">{{ inputData.questionValue }}</span>
    <input *ngIf="inlineEdit.enabled"
           nz-input
           nzSize="small"
           (mousedown)="$event.stopPropagation()"
           [placeholder]="inputData.placeholderValue"
           [(ngModel)]="inputData.questionValue"
           (ngModelChange)="change()"/>
  </div>
  <div style="padding-bottom: 10px">
    <span style="white-space: pre-wrap" *ngIf="!inlineEdit.enabled">{{ inputData.descriptionValue }}</span>
    <textarea *ngIf="inlineEdit.enabled"
           nz-input
           nzAutosize
           (mousedown)="$event.stopPropagation()"
           [placeholder]="inputData.placeholderValue"
           [(ngModel)]="inputData.descriptionValue"
           (ngModelChange)="change()"></textarea>
  </div>
  <ng-container *ngComponentOutlet="formInput.type; inputs: componentInputs"/>
  <span style="color: red">[ID: {{ inputData.id }} | section ID: {{ inputData.sectionId }}]</span>
</nz-card>
<ng-template #titleTemplate>
  <div>
    <span>{{ formInput.title }}</span>
  </div>
</ng-template>
<ng-template #headerButtons>
  <label nz-checkbox [(ngModel)]="inlineEdit.enabled">Inline edit</label>
  <button
    nz-button nzType="primary"
    nzShape="circle"
    (click)="editComponent()"
    style="margin-left: 10px">
    <span nz-icon nzType="edit" nzTheme="outline"></span>
  </button>
  <button
    nz-button nzType="dashed"
    nzShape="round"
    (click)="resetComponent()"
    style="margin-left: 10px">
    <span>Reset</span>
  </button>
  <button
    nz-button nzType="default" nzDanger
    nzShape="circle"
    (click)="removeComponent()"
    style="margin-left: 10px">
    <span nz-icon nzType="delete" nzTheme="outline"></span>
  </button>
</ng-template>
