<nz-form-item>
  @if (label()) {
    <ng-container [ngTemplateOutlet]="label()"></ng-container>
  }

  <nz-form-control [nzErrorTip]="errorTemplate">
    <ng-container *ngTemplateOutlet="prefixTemplate" />
    <!-- @todo width: 50% + responsiveness = 💔 -->
    <nz-range-picker
      #inputComponent
      [nzMode]="state().mode"
      [nzFormat]="getFullFormat"
      [nzInline]="state().inlineMode"
      [required]="state().required"
      [nzDisabledDate]="getDisabledDateConfig(state())"
      [nzDisabledTime]="disabledTime"
      [nzShowTime]="getTimeOptions"
      [nzShowWeekNumber]="state().showWeekNumber"
      [nzShowToday]="true"
      [disabled]="!inlineEdit().enabled"
      [nzPlaceHolder]="getPlaceholder()"
      [(ngModel)]="state().defaultValue"
      (ngModelChange)="onChange($event)"
      (mousedown)="$event.stopPropagation()"
      class="range-picker"
    ></nz-range-picker>
    <ng-container *ngTemplateOutlet="suffixTemplate" />
  </nz-form-control>
</nz-form-item>
<ng-template #errorTemplate let-control>
  @for (message of getErrorMessages(control); track message) {
    <div>{{ message }}</div>
  }
</ng-template>
<ng-template #prefixTemplate>
  @if (state().showTooltip) {
    <span
      nz-icon
      nz-tooltip
      [nzTooltipTitle]="state().tooltipText"
      nzType="info-circle"
      class="icon-margin"
    ></span>
  }
</ng-template>
<ng-template #suffixTemplate>
  @if (state().inlineMode) {
    <div class="selected-range">
      {{ 'COMPONENTS.SELECTED_RAGE' | translate }}: ({{
        state().defaultValue?.[0] | date: getFullFormat
      }}) - ({{ state().defaultValue?.[1] | date: getFullFormat }})
    </div>
  }
</ng-template>
