<div class="cs-body">
  <ng-container *ngFor="let d of diffItems">
    <!-- Section header -->
    <h3 class="cs-section-title">{{ d.key }}</h3>

    <div class="cs-details">
      <!-- Added Inputs: always shown -->
      <div class="cs-subsection">
        <h4>{{ 'COMPONENTS.CHANGE_SUMMARY.ADDED_INPUTS' | translate }}</h4>
        <ul>
          <li *ngFor="let i of d.addedItems">
            <span class="cs-custom-icon">{{ i.data.type | iconType }}</span>
            {{ i.data.title }}
          </li>
          <li *ngIf="!d.addedItems?.length" class="cs-none">
            {{ 'COMPONENTS.CHANGE_SUMMARY.NONE' | translate }}
          </li>
        </ul>
      </div>

      <!-- Removed Inputs: also always shown -->
      <div class="cs-subsection">
        <h4>{{ 'COMPONENTS.CHANGE_SUMMARY.REMOVED_INPUTS' | translate }}</h4>
        <ul>
          <li *ngFor="let i of d.removedItems">
            <span class="cs-custom-icon">{{ i.data.type | iconType }}</span>
            {{ i.data.title }}
          </li>
          <li *ngIf="!d.removedItems?.length" class="cs-none">
            {{ 'COMPONENTS.CHANGE_SUMMARY.NONE' | translate }}
          </li>
        </ul>
      </div>
    </div>
  </ng-container>
</div>
