<form id="inputEditFormID" nz-form [formGroup]="formData">
  <span>Question:</span>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="questionErrors">
      <input nz-input placeholder="Question" formControlName="questionValue"/>
    </nz-form-control>
    <ng-template #questionErrors let-control>
      <div *ngIf="hasErrors(control, 'required')">Cannot be empty!</div>
    </ng-template>
  </nz-form-item>

  <span>Description:</span>
  <nz-form-item>
    <nz-form-control>
      <textarea nz-input nzAutosize placeholder="Description" formControlName="descriptionValue"></textarea>
    </nz-form-control>
  </nz-form-item>

  <span>Set Placeholder Value</span>
  <nz-form-item>
    <nz-form-control>
      <input nz-input placeholder="Placeholder" formControlName="placeholderValue"/>
    </nz-form-control>
  </nz-form-item>

  <div style="border: 1px solid lightgray; padding-left: 10px; padding-right: 10px; margin-bottom: 10px">
    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="setDefaultValue">Set default value?</label>
      </nz-form-control>
    </nz-form-item>
    <div *ngIf="getControlValue('setDefaultValue')">
    <span>Set Default Value</span>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="defaultValueErrorTemplate">
          <nz-input-group [nzSuffix]="suffixTemplateCounter">
            <input #defaultValueComponent
                   nz-input
                   [maxLength]="getControlValue('maxLengthNumber') ?? maxDefaultCharacterCount"
                   placeholder="Default value"
                   formControlName="defaultValue"/>
          </nz-input-group>
        </nz-form-control>
        <ng-template #defaultValueErrorTemplate let-control>
          <div *ngFor="let message of getErrorMessages(control)">{{message}}</div>
        </ng-template>
        <ng-template #suffixTemplateCounter>
          <span *ngIf="getControlValue('maxLength') && getControlValue('showCharacterCounter') && getControlValue('maxLengthNumber')">
            {{defaultValueComponent.value.length}}/{{getControlValue('maxLengthNumber')}}
          </span>
        </ng-template>
      </nz-form-item>
    </div>
  </div>

  <div style="border: 1px solid lightgray; padding-left: 10px; padding-right: 10px; margin-bottom: 10px">
    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="required">Is Required?</label>
      </nz-form-control>
    </nz-form-item>
    <div *ngIf="getControlValue('required')">
      <span>Required error message</span>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="requiredErrorMessageTemplate">
          <input nz-input
                 formControlName="requiredMessage"
                 placeholder="Required error message"/>
        </nz-form-control>
        <ng-template #requiredErrorMessageTemplate let-control>
          <div *ngIf="hasErrors(control, 'required')">If the field is required the message cannot be empty!</div>
        </ng-template>
      </nz-form-item>
    </div>
    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="minLength">Min length Required?</label>
      </nz-form-control>
    </nz-form-item>
    <div *ngIf="getControlValue('minLength')">
      <span>Min length number:</span>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="minLengthNumberErrorMessageTemplate">
          <nz-input-number formControlName="minLengthNumber"
                           [nzMin]="1"
                           [nzMax]="getControlValue('maxLength') && getControlValue('maxLengthNumber') ? getControlValue('maxLengthNumber') : maxDefaultCharacterCount"
                           [nzStep]="1"></nz-input-number>
        </nz-form-control>
        <ng-template #minLengthNumberErrorMessageTemplate let-control>
          <div *ngIf="hasErrors(control, 'required')">Cannot be empty!</div>
          <div *ngIf="hasErrors(control, 'minError')">Cannot be lower than 1!</div>
          <div *ngIf="hasErrors(control, 'minMaxError')">Cannot be higher than the set max value ({{control.errors['minMaxError']}})!</div>
        </ng-template>
      </nz-form-item>
      <span>Min length error message (use '&#123;*}' for min length):</span>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="minLengthMessageErrorMessageTemplate">
          <input nz-input
                 formControlName="minLengthMessage"
                 placeholder="Min length error message"/>
        </nz-form-control>
        <ng-template #minLengthMessageErrorMessageTemplate let-control>
          <div *ngIf="hasErrors(control, 'required')">If the field has set min length the message cannot be empty!</div>
        </ng-template>
      </nz-form-item>
    </div>
    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="maxLength">Max length Required?</label>
      </nz-form-control>
    </nz-form-item>
    <div *ngIf="getControlValue('maxLength')">
      <span>Max length number:</span>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="maxLengthNumberErrorMessageTemplate">
          <nz-input-number formControlName="maxLengthNumber"
                           [nzMin]="getControlValue('minLength') ? getControlValue('minLengthNumber') : 1"
                           [nzStep]="1"></nz-input-number>
        </nz-form-control>
        <ng-template #maxLengthNumberErrorMessageTemplate let-control>
          <div *ngIf="hasErrors(control, 'required')">Cannot be empty!</div>
          <div *ngIf="hasErrors(control, 'maxError')">Cannot be lower than 1!</div>
          <div *ngIf="hasErrors(control, 'maxMinError')">Cannot be lower than the set min value ({{control.errors['maxMinError']}})!</div>
        </ng-template>
      </nz-form-item>
      <span>Character counter</span>
      <nz-form-item>
        <nz-form-control>
          <label nz-checkbox formControlName="showCharacterCounter">Show character counter?</label>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div style="border: 1px solid lightgray; padding-left: 10px; padding-right: 10px">
    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="showTooltip">Show input tooltip?</label>
      </nz-form-control>
    </nz-form-item>
    <div *ngIf="getControlValue('showTooltip')">
      <span>Tooltip text:</span>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="tooltipTextErrorMessageTemplate">
          <input nz-input
                 formControlName="tooltipText"
                 placeholder="Tooltip text"/>
        </nz-form-control>
        <ng-template #tooltipTextErrorMessageTemplate let-control>
          <div *ngIf="hasErrors(control, 'required')">Must provide a tooltip message!</div>
        </ng-template>
      </nz-form-item>
    </div>
  </div>
</form>
