<nz-form-item>
  @if (label) {
    <ng-container [ngTemplateOutlet]="label"> </ng-container>
  }

  <nz-checkbox-group class="checkbox-group" [(ngModel)]="data.defaultValue" [disabled]="!inlineEdit.enabled">
    <nz-checkbox-group class="checkbox-group">
      @for (option of data.defaultValue; track option.value) {
        <label nz-checkbox [nzValue]="option.value" [nzDisabled]="option.disabled" [ngModel]="option.checked">
          {{ option.label }}
        </label>
      }
    </nz-checkbox-group>
  </nz-checkbox-group>
</nz-form-item>
