<nz-layout>
  <div>
    <form nz-form (ngSubmit)="submitForm()" [formGroup]="form">
      <nz-form-label [nzFor]="'title'" nz-col nzSpan="24" class="title-label" nzRequired>
        {{ 'form.FORM_TITLE' | translate }}
        <i
          nz-icon
          nzType="question-circle"
          nz-tooltip
          nzTooltipTitle="{{ 'form.FORM_TITLE_TOOLTIP' | translate }}"
          class="icon-margin-small"
        ></i>
      </nz-form-label>
      <nz-form-control nz-col nzSpan="24">
        <div class="mb-8">
        <input
          nz-input
          type="text"
          class="formelement"
          id="title"
          formControlName="title"
          (change)="updateForm()"
          required
          [ngClass]="{ 'input-error': form.get('title')?.invalid && (form.get('title')?.touched || saveFailed) }"
        />
        @if (form.get('title')?.invalid && (form.get('title')?.touched || saveFailed)) {
          <div>
            <span class="error-message">{{ 'form.TITLE_REQUIRED' | translate }}</span>
          </div>
        }
        </div>
      </nz-form-control>

      <nz-form-label [nzFor]="'description'" nz-col nzSpan="24" class="description-label">
        {{ 'form.FORM_DESCRIPTION' | translate }}
        <i
          nz-icon
          nzType="question-circle"
          nz-tooltip
          nzTooltipTitle="{{ 'form.FORM_DESCRIPTION_TOOLTIP' | translate }}"
          class="icon-margin-small"
        ></i>
      </nz-form-label>
      <textarea
        nz-input
        [nzAutosize]="{ minRows: 4, maxRows: 6 }"
        class="formelement mb-8"
        id="description"
        formControlName="description"
        (change)="updateForm()"
      ></textarea>

      <hr/>

      <ng-container>
        <nz-form-item class="same_line mb-8">
          <nz-form-label [nzNoColon]="true">{{ 'form.QUESTIONNAIRE' | translate }}</nz-form-label>
          <nz-switch formControlName="type" id="switch" (change)="updateForm()"></nz-switch>
          <nz-form-label [nzNoColon]="true"
            >{{ 'form.TEST' | translate }}
            <i
              nz-icon
              nzType="question-circle"
              nz-tooltip
              nzTooltipTitle="{{ 'form.SWITCH_TOOLTIP' | translate }}"
              class="icon-margin-medium"
            ></i>
          </nz-form-label>
        </nz-form-item>
      </ng-container>

      <nz-form-item class="same_line mb-8">
        <label nz-checkbox formControlName="hasdeadline"></label>
        <nz-form-label [nzNoColon]="true"
          >{{ 'general.DEADLINE' | translate }}
          <i
            nz-icon
            nzType="question-circle"
            nz-tooltip
            nzTooltipTitle="{{ 'form.DEADLINE_TOOLTIP' | translate }}"
            class="icon-margin-small"
          ></i>
        </nz-form-label>
        @if (form.get('hasdeadline')?.value) {
          <nz-date-picker id="deadline" formControlName="deadline" (change)="updateForm()"></nz-date-picker>
        }
      </nz-form-item>

      <nz-form-item class="same_line mb-8">
        <label nz-checkbox formControlName="haslimit"></label>
        <nz-form-label [nzNoColon]="true"
        >{{ 'general.TIME_LIMIT' | translate }}
          <i
            class="icon-margin-small"
            nz-icon
            nzType="question-circle"
            nz-tooltip
            nzTooltipTitle="{{ 'form.TIME_LIMIT_TOOLTIP' | translate }}"
          ></i>
        </nz-form-label>
        @if (form.get('haslimit')?.value) {
          <nz-time-picker [nzFormat]="'HH:mm'" formControlName="limit" (change)="updateForm()"></nz-time-picker>
        }
      </nz-form-item>

      @if (formExists) {
        <ng-container>
          <div>
            <div class="mb-8">
              <nz-form-label>{{ 'general.CREATED' | translate }}</nz-form-label>
              <nz-form-label [nzNoColon]="true">{{ project.created }}</nz-form-label>
            </div>
            <div class="mb-8">
              <nz-form-label>{{ 'form.LAST_MODIFIED' | translate }}</nz-form-label>
              <nz-form-label [nzNoColon]="true">{{ project.modified }}</nz-form-label>
            </div>
          </div>
        </ng-container>
      }

      <div class="saveBtn mb-8">
        <button id="btn" nz-button nzType="primary" type="submit">{{ 'general.NEXT' | translate }}</button>
      </div>
    </form>
  </div>
</nz-layout>
