nz-layout {
    background-color: transparent;
}

.formelement {
    margin-bottom: 30px;
}

#switch {
    margin-left: 10px;
    margin-right: 10px;
}

#title, #description {
  font-size: 20px;
  border-radius: 10px;
  border-width: 2px;
  margin-top: -5px;
}

#title {
  font-weight: bold;
  margin-bottom: 10px;
}
.description-label {
  font-weight: bold;
}
.title-label{
  font-weight: bold;
}
.date-picker {
  margin-top: -5px;
}
.saveBtn{
  float: right;
}

.error-message {
  margin-top: 5px;
  color: red;
  font-size: 12px;
  font-weight: bold;
}
.input-error {
  border: 1px solid red;
}
