nz-layout {
    background-color: transparent;
    display: flex;
}

.formelement {
    margin-bottom: 30px;
}

#switch {
    margin-left: 10px;
    margin-right: 10px;
}

#title, #description {
  font-size: 20px;
  border-radius: 10px;
  border-width: 2px;
  margin-top: -5px;
}

#title {
  margin-bottom: 10px;
}
.description-label {
  font-weight: bold;
}
.title-label{
  font-weight: bold;
}
.date-picker {
  margin-top: -5px;
}
.saveBtn{
  float: right;
}

.error-message {
  margin-top: 5px;
  color: red;
  font-size: 12px;
  font-weight: bold;
}
.input-error {
  border: 1px solid red;
}
.same_line{
  display: flex;
  align-items: center;
  gap: 10px;
}
.created_modifaction{
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .formelement {
    margin-bottom: 2px;
  }
  #title, #description {
    font-size: 10px;
    border-radius: 8px;
    margin-bottom: 2px;
  }
  .same_line {
    flex-direction: column;
    gap: 1px;
    padding: -30px;
  }
  .saveBtn {
    float: none;
    text-align: center;
  }
}

