<nz-layout>
  <nz-sider nzWidth="300px" nzTheme="light">
    <app-sidebar [formInputs]="formInputs">
      <ng-container basic>
        <div cdkDropList [cdkDropListData]="textInput" [cdkDropListConnectedTo]="sectionList" (cdkDropListDropped)="drop($event)">
          <span>short text</span>
          <div class="element-box" cdkDrag [cdkDragData]="textInputOptions">
            <app-text-input [type]="textInputOptions.type" (valueChanged)="onValueChanged($event)"></app-text-input>
          </div>
        </div>
        <div
          cdkDropList
          [cdkDropListData]="numberInput"
          [cdkDropListConnectedTo]="sectionList"
          (cdkDropListDropped)="drop($event)"
          class="mt-1"
        >
          <span>number input</span>
          <div class="element-box" cdkDrag [cdkDragData]="numberInputOptions">
            <app-number-input [type]="numberInputOptions.type" (valueChanged)="onValueChanged($event)"></app-number-input>
          </div>
        </div>
        <div
          cdkDropList
          [cdkDropListData]="dateInput"
          [cdkDropListConnectedTo]="sectionList"
          (cdkDropListDropped)="drop($event)"
          class="mt-1"
        >
          <span>date input</span>
          <div class="element-box" cdkDrag [cdkDragData]="dateInputOptions">
            <app-date-picker></app-date-picker>
          </div>
        </div>
        <div
          cdkDropList
          [cdkDropListData]="textAreaInput"
          [cdkDropListConnectedTo]="sectionList"
          (cdkDropListDropped)="drop($event)"
          class="mt-1"
        >
          <span>textarea</span>
          <div class="element-box" cdkDrag [cdkDragData]="textAreaInputOptions">
            <app-textarea [textareaPlaceholder]="textAreaInputOptions.textareaPlaceholder"></app-textarea>
          </div>
        </div>
        <div
          cdkDropList
          [cdkDropListData]="pictureInput"
          [cdkDropListConnectedTo]="sectionList"
          (cdkDropListDropped)="drop($event)"
          class="mt-1"
        >
          <span>picture input</span>
          <div class="element-box" cdkDrag [cdkDragData]="pictureInputOptions">
            <app-picture-input [fileName]="pictureInputOptions.fileName"></app-picture-input>
          </div>
        </div>
        <div
          cdkDropList
          [cdkDropListData]="sectionInput"
          [cdkDropListConnectedTo]="formInputs"
          (cdkDropListDropped)="drop($event)"
          class="mt-1"
        >
          <span>section</span>
          <div class="element-box" cdkDrag cdkDropList [cdkDropListConnectedTo]="formInputs" (cdkDropListDropped)="drop($event)">
            <app-section>
              <div class="element-box" *ngFor="let item of formInputs" cdkDrag>
                <ng-container [ngSwitch]="item.component">
                  <app-text-input
                    *ngSwitchCase="textInputOptions.component"
                    id="sectionInputOptions.sectionId"
                    [type]="item.type"
                  ></app-text-input>
                  <app-number-input
                    *ngSwitchCase="numberInputOptions.component"
                    id="sectionInputOptions.sectionId"
                    [type]="item.type"
                  ></app-number-input>
                  <app-date-picker *ngSwitchCase="dateInputOptions.component" id="sectionInputOptions.sectionId"></app-date-picker>
                  <app-textarea
                    *ngSwitchCase="textAreaInputOptions.component"
                    id="sectionInputOptions.sectionId"
                    [textareaPlaceholder]="item.textareaPlaceholder"
                  ></app-textarea>
                  <app-select
                    *ngSwitchCase="selectInputOptions.component"
                    id="sectionInputOptions.sectionId"
                    [answerOptions]="item.answerOptions"
                  ></app-select>
                  <app-picture-input
                    *ngSwitchCase="pictureInputOptions.component"
                    id="sectionInputOptions.sectionId"
                    [fileName]="pictureInputOptions.fileName"
                  ></app-picture-input>
                </ng-container>
              </div>
            </app-section>
          </div>
        </div>
      </ng-container>
      <ng-container selector>
        <div cdkDropList [cdkDropListData]="selectInput" [cdkDropListConnectedTo]="sectionList" (cdkDropListDropped)="drop($event)">
          <span>select</span>
          <div class="element-box" cdkDrag [cdkDragData]="selectInputOptions">
            <app-select [answerOptions]="selectInputOptions.answerOptions"></app-select>
          </div>
        </div>
      </ng-container>
    </app-sidebar>
  </nz-sider>
  <nz-layout class="inner-layout">
    <nz-content>
      <div class="form-container">
        <div
          cdkDropList
          id="buildedForm"
          #buildedForm="cdkDropList"
          [cdkDropListData]="formInputs"
          class="element-list p-3"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="element-box" *ngFor="let item of formInputs" cdkDrag>
            <ng-container [ngSwitch]="item.component">
              <app-text-input
              *ngSwitchCase="textInputOptions.component"
              [type]="item.type"
              [id]="item.id"
              [questionValue]="item.question"
              [answerValue]="item.answer"
              [descriptionValue]="item.description"
              (valueChanged)="onValueChanged($event)"
            ></app-text-input>
            <app-number-input
              *ngSwitchCase="numberInputOptions.component"
              [type]="item.type"
              [id]="item.id"
              [questionValue]="item.question"
              [answerValue]="item.answer"
              [descriptionValue]="item.description"
              (valueChanged)="onValueChanged($event)"
            ></app-number-input>
                        <app-date-picker *ngSwitchCase="dateInputOptions.component" [id]="item.id"></app-date-picker>
              <app-textarea *ngSwitchCase="textAreaInputOptions.component" [textareaPlaceholder]="item.textareaPlaceholder"></app-textarea>
              <app-select *ngSwitchCase="selectInputOptions.component" [answerOptions]="item.answerOptions"></app-select>
              <app-picture-input
                *ngSwitchCase="pictureInputOptions.component"
                [fileName]="pictureInputOptions.fileName"
              ></app-picture-input>
            </ng-container>
          </div>
        </div>
        <div class="element-list" *ngFor="let item of sectionList" cdkDrag>
          <ng-container>
            <app-section [sectionList]="sectionList"> </app-section>
          </ng-container>
        </div>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
