<form nz-form dr cdkDrag>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="email">E-mail</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input name="email" type="email" id="email" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item cdkDrag>
    <nz-form-label [nzSpan]="6" nzFor="username">Username</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input name="username" type="text" id="username" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="6" nzFor="password">Password</nz-form-label>
    <nz-form-control [nzSpan]="14">
      <input nz-input name="password" type="password" id="password" />
    </nz-form-control>
  </nz-form-item>
</form>
