// Typography Variables
@font-size-h1: 26px;
@font-size-h2: 22px;

@font-size-lead: 18px;
@font-size-body: 16px;
@font-size-small: 15px;
@font-size-tiny: 11px;

@font-size-title: 32px;

h2 {
  font-size: @font-size-h2;
}

h1 {
  font-size: @font-size-h1;
}
// Typography scale
@font-size-h1-lg: 26px;
@font-size-h1-md: 22px;
@font-size-h1-sm: 18px;

@font-size-h2-lg: 22px;
@font-size-h2-md: 20px;
@font-size-h2-sm: 16px;

@font-size-body-lg: 16px;
@font-size-body-md: 15px;
@font-size-body-sm: 14px;

@font-size-small-lg: 15px;
@font-size-small-md: 13px;
@font-size-small-sm: 12px;

