<nz-content>
  <div class="toolbar">
    <div (click)="toggleView()">
      <span nz-icon nzTheme="outline" [nzType]="isListView ? 'appstore' : 'unordered-list'"></span>
      <span>{{ 'DASHBOARD.' + (isListView ? 'CARD_VIEW' : 'LIST_VIEW') | translate }}</span>
      <i
        nz-icon
        nzType="question-circle"
        nz-tooltip
        [nzTooltipTitle]="'DASHBOARD.' + (isListView ? 'CARD_VIEW_TOOLTIP' : 'LIST_VIEW_TOOLTIP') | translate"
      ></i>
    </div>
  </div>

  <div class="view">
    <div>
      <h3>{{ 'DASHBOARD.QUESTIONNAIRES' | translate }}</h3>

      @if (isListView) {
        <button (click)="createProject(projectTypes.QUESTIONNAIRE)" nz-button>
          <span nz-icon nzType="plus" nzTheme="outline"></span> {{ 'DASHBOARD.NEW_QUESTIONNAIRE' | translate }}
        </button>
      }
    </div>

    <ng-container [ngTemplateOutlet]="viewTemp" [ngTemplateOutletContext]="{ type: projectTypes.QUESTIONNAIRE }"></ng-container>

    <div>
      <h3>{{ 'DASHBOARD.TESTS' | translate }}</h3>

      @if (isListView) {
        <button (click)="createProject(projectTypes.TEST)" nz-button>
          <span nz-icon nzType="plus" nzTheme="outline"></span> {{ 'DASHBOARD.NEW_TEST' | translate }}
        </button>
      }
    </div>

    <ng-container [ngTemplateOutlet]="viewTemp" [ngTemplateOutletContext]="{ type: projectTypes.TEST }"></ng-container>
  </div>

  <ng-template #viewTemp let-type="type">
    @if (isListView) {
      <app-list-view [type]="type" [projects]="projects$" (editProject)="editProject($event)" (deleteProject)="deleteProject($event)">
      </app-list-view>
    } @else {
      <app-card-view
        [type]="type"
        [projects]="projects$"
        (createProject)="createProject($event)"
        (editProject)="editProject($event)"
        (deleteProject)="deleteProject($event)"
      ></app-card-view>
    }
  </ng-template>
</nz-content>
