<nz-table #table [nzData]="projectList" nzTableLayout="auto" nzPaginationType="small">
  <thead>
    <tr>
      <th
        *ngFor="let column of columnsConfig"
        [nzSortOrder]="column.sortOrder"
        [nzSortFn]="column.sortFn"
        [nzSortDirections]="column.sortDirections"
      >
        {{ column.title }}
      </th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of table.data">
      <td>{{ data.title }}</td>
      <td>{{ data.created }}</td>
      <td>{{ data.modified }}</td>
      <td class="icon-row">
        <span (click)="onEditProject(data.id)" nz-icon nzType="edit" nzTheme="outline"></span>
      </td>
      <td>
        <span (click)="onDeleteProject(data.id)" nz-icon nzType="delete" nzTheme="outline"></span>
      </td>
    </tr>
  </tbody>
</nz-table>
