<nz-table #table [nzData]="projectList" nzTableLayout="auto" nzPaginationType="small">
  <thead>
    <tr>
      @for (column of columnsConfig; track $index) {
        <th [nzSortOrder]="column.sortOrder" [nzSortFn]="column.sortFn" [nzSortDirections]="column.sortDirections">
          {{ column.title }}
        </th>
      }
      <th nzWidth="100px">{{ 'dashboard.ACTION' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    @for (data of table.data; track $index) {
      <tr>
        <td>{{ data.title }}</td>
        <td>{{ data.description }}</td>
        <td>{{ data.created }}</td>
        <td>{{ data.modified }}</td>
        <td>
          <span (click)="onEditProject(data.id)" nz-icon nzType="edit" nzTheme="outline" class="edit-icon"></span>
          <span
            nz-popconfirm
            [nzPopconfirmTitle]="'general.DELETE_CONFIRMATION' | translate"
            [nzCancelText]="'general.CANCEL' | translate"
            [nzOkText]="'general.OK' | translate"
            (nzOnConfirm)="onDeleteProject(data.id)"
            nz-icon
            nzType="delete"
            nzTheme="outline"
            class="delete-icon"
          >
          </span>
        </td>
      </tr>
    }
  </tbody>
</nz-table>
