<form id="datePickerEditFormID" nz-form [formGroup]="formData">
  <nz-form-label nzRequired><span>{{ 'components.COMPONENT_QUESTION' | translate }}</span></nz-form-label>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="questionErrors">
      <input nz-input placeholder="{{ 'components.PLACEHOLDER_QUESTION' | translate }}" formControlName="questionValue" />
    </nz-form-control>
    <ng-template #questionErrors let-control>
      @if (hasErrors(control, 'required')) {
        <div>{{ 'components.CANNOT_BE_EMPTY' | translate }}</div>
      }
    </ng-template>
  </nz-form-item>

  <span>{{ 'components.COMPONENT_DESCRIPTION' | translate }}:</span>
  <nz-form-item>
    <nz-form-control>
      <textarea nz-input nzAutosize placeholder="Description" formControlName="descriptionValue"></textarea>
    </nz-form-control>
  </nz-form-item>

  <span>{{ 'components.SET_PLACEHOLDER_VALUE' | translate }}</span>
  <nz-form-item>
    <nz-form-control>
      <input nz-input placeholder="{{ 'components.PLACEHOLDER' | translate }}" formControlName="placeholderValue" />
    </nz-form-control>
  </nz-form-item>

  <div class="section-container">
    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="setDefaultValue">{{ 'components.SET_DEFAULT_VALUE?' | translate }}</label>
      </nz-form-control>
    </nz-form-item>
    @if (getControlValue('setDefaultValue')) {
      <div>
        <span>{{ 'components.SET_DEFAULT_VALUE' | translate }}</span>
        <nz-form-item>
          <nz-form-control [nzErrorTip]="defaultValueErrorTemplate">
            <nz-date-picker
              nzPlaceHolder="{{ 'components.SELECT_DATE' | translate }}"
              formControlName="defaultValue"
              [nzMode]="getControlValue('mode')"
              [nzFormat]="getFullFormat"
              [nzDisabledDate]="getDisabledDateConfig(rawFormData)"
              [nzDisabledTime]="disabledTime"
              [nzShowTime]="getTimeOptions"
              [nzShowWeekNumber]="getControlValue('showWeekNumber')"
              [nzShowToday]="true"
              class="date-picker"
            ></nz-date-picker>
          </nz-form-control>
          <ng-template #defaultValueErrorTemplate let-control>
            @for (message of getErrorMessages(control); track message) {
              <div>{{ message }}</div>
            }
          </ng-template>
        </nz-form-item>
      </div>
    }
  </div>

  <span>{{ 'components.DATE_PICKER_MODE' | translate }}:</span>
  <nz-form-item>
    <nz-form-control>
      <nz-select formControlName="mode" nzPlaceHolder="Mode">
        @for (item of datePickerModes; track item.mode) {
          <nz-option [nzValue]="item.mode" [nzLabel]="item.label"></nz-option>
        }
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <span>{{ 'components.DATE_FORMAT' | translate }}:</span>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="dateFormatErrors">
      <input nz-input placeholder="Date format" formControlName="dateFormat" />
    </nz-form-control>
    <ng-template #dateFormatErrors let-control>
      @if (hasErrors(control, 'required')) {
        <div>{{ 'components.CANNOT_BE_EMPTY' | translate }}</div>
      }
    </ng-template>
  </nz-form-item>

  <div class="section-container">
    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="showTime" [nzDisabled]="getControlValue('mode') !== 'date'">{{
          'components.SHOW_TIME?' | translate
        }}</label>
      </nz-form-control>
    </nz-form-item>
    @if (getControlValue('showTime')) {
      <div>
        <nz-form-item>
          <nz-form-control [nzErrorTip]="timeFormatErrors">
            <input nz-input formControlName="timeFormat" />
          </nz-form-control>
          <ng-template #timeFormatErrors let-control>
            @if (hasErrors(control, 'required')) {
              <div>{{ 'components.CANNOT_BE_EMPTY' | translate }}</div>
            }
          </ng-template>
        </nz-form-item>
      </div>
    }
  </div>

  <span>{{ 'components.date_picker.WEEK_NUMBERS' | translate }}</span>
  <nz-form-item>
    <nz-form-control>
      <label nz-checkbox formControlName="showWeekNumber">{{ 'components.date_picker.WEEK_NUMBERS?' | translate }}</label>
    </nz-form-control>
  </nz-form-item>

  <span>{{ 'components.date_picker.INLINE_COMPONENT' | translate }}:</span>
  <nz-form-item>
    <nz-form-control>
      <label nz-checkbox formControlName="inlineMode">{{ 'components.INLINE_COMPONENT?' | translate }}</label>
    </nz-form-control>
  </nz-form-item>

  <div class="section-container">
    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="required">{{ 'components.IS_REQUIRED' | translate }}</label>
      </nz-form-control>
    </nz-form-item>
    @if (getControlValue('required')) {
      <div>
        <span>{{ 'components.PLACEHOLDER_ERROR_REQUIRED' | translate }}</span>
        <nz-form-item>
          <nz-form-control [nzErrorTip]="requiredErrorMessageTemplate">
            <input nz-input formControlName="requiredMessage" placeholder="{{ 'components.PLACEHOLDER_ERROR_REQUIRED' | translate }}" />
          </nz-form-control>
          <ng-template #requiredErrorMessageTemplate let-control>
            @if (hasErrors(control, 'required')) {
              <div>{{ 'components.IS_FIELD_REQUIRED' | translate }}</div>
            }
          </ng-template>
        </nz-form-item>
      </div>
    }

    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="minDate">{{ 'components.date_picker.MIN_DATE_REQUIRED' | translate }}</label>
      </nz-form-control>
    </nz-form-item>
    @if (getControlValue('minDate')) {
      <div>
        <span>{{ 'components.date_picker.MIN_DATE' | translate }}</span>
        <nz-form-item>
          <nz-form-control [nzErrorTip]="minDateErrorMessageTemplate">
            <nz-date-picker
              nzPlaceHolder="{{ 'components.date_picker.SELECT_MIN_DATE' | translate }}"
              formControlName="minDateValue"
              [nzMode]="getControlValue('mode')"
              [nzFormat]="getFullFormat"
              [nzDisabledDate]="getDisabledDatesForMin"
              [nzDisabledTime]="disabledTimeConfigForMin"
              [nzShowTime]="getTimeOptions"
              [nzShowWeekNumber]="getControlValue('showWeekNumber')"
              [nzShowToday]="true"
              class="date-picker"
            ></nz-date-picker>
          </nz-form-control>
          <ng-template #minDateErrorMessageTemplate let-control>
            @if (hasErrors(control, 'required')) {
              <div>{{ 'components.CANNOT_BE_EMPTY' | translate }}</div>
            }
            @if (hasErrors(control, 'minMaxError')) {
              <div>{{ 'components.date_picker.MIN_ERROR' | translate }} ({{ control.errors['minMaxError'] | date: getFullFormat }})!</div>
            }
          </ng-template>
        </nz-form-item>
      </div>
    }

    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="maxDate">{{ 'components.date_picker.MAX_DATE_REQUIRED' | translate }}</label>
      </nz-form-control>
    </nz-form-item>
    @if (getControlValue('maxDate')) {
      <div>
        <span>{{ 'components.date_picker.MAX_DATE' | translate }}</span>
        <nz-form-item>
          <nz-form-control [nzErrorTip]="maxDateErrorMessageTemplate">
            <nz-date-picker
              nzPlaceHolder="{{ 'components.date_picker.SELECT_MAX_DATE' | translate }}"
              formControlName="maxDateValue"
              [nzMode]="getControlValue('mode')"
              [nzFormat]="getFullFormat"
              [nzDisabledDate]="getDisabledDatesForMax"
              [nzDisabledTime]="disabledTimeConfigForMax"
              [nzShowTime]="getTimeOptions"
              [nzShowWeekNumber]="getControlValue('showWeekNumber')"
              [nzShowToday]="true"
              class="date-picker"
            ></nz-date-picker>
          </nz-form-control>
          <ng-template #maxDateErrorMessageTemplate let-control>
            @if (hasErrors(control, 'required')) {
              <div>{{ 'components.CANNOT_BE_EMPTY' | translate }}</div>
            }
            @if (hasErrors(control, 'maxMinError')) {
              <div>{{ 'components.date_picker.MAX_ERROR' | translate }} ({{ control.errors['maxMinError'] | date: getFullFormat }})!</div>
            }
          </ng-template>
        </nz-form-item>
      </div>
    }
  </div>

  <div class="section-container">
    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="showTooltip">{{ 'components.INPUT_TOOLTIP' | translate }}</label>
      </nz-form-control>
    </nz-form-item>
    @if (getControlValue('showTooltip')) {
      <div>
        <span>{{ 'components.TOOLTIP_TEXT' | translate }}:</span>
        <nz-form-item>
          <nz-form-control [nzErrorTip]="tooltipTextErrorMessageTemplate">
            <input nz-input formControlName="tooltipText" placeholder="{{ 'components.TOOLTIP_TEXT' | translate }}" />
          </nz-form-control>
          <ng-template #tooltipTextErrorMessageTemplate let-control>
            @if (hasErrors(control, 'required')) {
              <div>{{ 'components.PROVIDE_TOOLTIP' | translate }}</div>
            }
          </ng-template>
        </nz-form-item>
      </div>
    }
  </div>
</form>
