@import '../../../../../colors.less';
@import '../../../../../common.less';

.section-container {
  border: @border-default;
  padding-left: @spacing8;
  padding-right: @spacing8;
  margin-bottom: @spacing8;
}

.section-container:last-child {
  margin-bottom: @spacing0;
}

.date-picker {
  width: @width-full;
}