<div nz-row [nzGutter]="[16, 16]">
  @for (project of projectList; track $index) {
    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="6">
      <nz-card [nzActions]="[actionEdit, actionDelete]" class="project-card">
        <div class="description">
          <nz-card-meta [nzTitle]="project.title" [nzDescription]="null"></nz-card-meta>
          <ng-template #descriptionTooltipTemp>
            <span class="ql-editor custom-tooltip" [innerHTML]="project.description | safeHtml"></span>
          </ng-template>

          <div
            class="ql-editor view-mode"
            [innerHTML]="project.description | safeHtml"
            style="width: 100%; max-height: 150px"
            nz-tooltip
            [nzTooltipTitle]="descriptionTooltipTemp"
          ></div>
        </div>

        <div class="card-footer">
          <p>{{ 'GENERAL.CREATED' | translate }}: {{ project.created | date: DateFormat.DATE }}</p>
          <p>{{ 'GENERAL.MODIFIED' | translate }}: {{ project.modified | date: DateFormat.DATE }}</p>
        </div>
        <ng-template #actionEdit>
          <span (click)="onEditProject(project.id)" nz-icon nzType="edit" nzTheme="outline" class="edit-icon"></span>
        </ng-template>
        <ng-template #actionDelete>
          <span
            nz-popconfirm
            [nzPopconfirmTitle]="'DASHBOARD.DELETE_CONFIRMATION' | translate"
            (nzOnConfirm)="onDeleteProject(project.id)"
            nz-icon
            nzType="delete"
            nzTheme="outline"
            class="delete-icon"
          >
          </span>
        </ng-template>
      </nz-card>
    </div>
  }
  <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzLg]="6">
    <nz-card (click)="onCreateProject(type!)" class="create-card project-card" [nzTitle]="">
      <div nz-icon nzType="plus" nzTheme="outline"></div>
    </nz-card>
  </div>
</div>
