<nz-card>
  <button
    *ngIf="componentId"
    style="position: absolute; right: 0"
    nz-button nzType="default" nzDanger
    nzShape="circle"
  (click)="removeComponent()"><span nz-icon nzType="delete" nzTheme="outline"></span></button>
  <div class="section-gap">
    <ng-container *ngIf="!isEditingQuestion">
      <p (click)="isEditingQuestion = true" style="cursor: pointer">
        {{ questionValue }}
        <!-- <span *ngIf="!isSwitchingAdornment" (click)="isSwitchingAdornment = true" [style.display]="isSwitchingAdornment ? 'none' : 'block'">
          ? (optional)
        </span>
        <span *ngIf="isSwitchingAdornment" (click)="isSwitchingAdornment = false" [style.display]="isSwitchingAdornment ? 'block' : 'none'">
          * (required)
        </span> -->
        <i nz-icon nzType="edit" nzTheme="outline" class="edit-icon"></i>
      </p>
    </ng-container>

    <ng-container *ngIf="isEditingQuestion">
      <input
        nz-input
        type="text"
        [(ngModel)]="questionValue"
        (blur)="isEditingQuestion = false"
        (ngModelChange)="onQuestionValueChange($event)"
      />
    </ng-container>
  </div>

  <div class="section-gap">
    <ng-container *ngIf="!isEditingDescription">
      <p (click)="isEditingDescription = true" style="cursor: pointer">
        {{ descriptionValue }}
        <i nz-icon nzType="edit" nzTheme="outline" class="edit-icon"></i>
      </p>
    </ng-container>

    <ng-container *ngIf="isEditingDescription">
      <input
        nz-input
        type="text"
        [(ngModel)]="descriptionValue"
        (blur)="isEditingDescription = false"
        (ngModelChange)="onDescriptionValueChange($event)"
      />
    </ng-container>
  </div>
  <div *ngIf="componentId" style="color: red">Component ID: {{componentId}}; <br> Section ID: {{sectiondId}}</div>
  <ng-container *ngTemplateOutlet="inputTemplate"></ng-container>
</nz-card>
