<nz-card>
  <div>
    <p *ngIf="!isEditingQuestion" (click)="isEditingQuestion = true">
      {{ questionValue }}
      <span *ngIf="!isSwitchingAdornment" (click)="isSwitchingAdornment = true" [style.display]="isSwitchingAdornment ? 'none' : 'block'"
        >? (optional)</span
      >
      <span *ngIf="!isSwitchingAdornment" (click)="isSwitchingAdornment = false" [style.display]="isSwitchingAdornment ? 'block' : 'none'"
        >* (required)</span
      >
    </p>
    <input *ngIf="isEditingQuestion" type="text" [(ngModel)]="questionValue" (blur)="isEditingQuestion = false" />
  </div>
  <div>
    <p *ngIf="!isEditingDescription" (click)="isEditingDescription = true">{{ descriptionValue }}</p>
    <input *ngIf="isEditingDescription" type="text" [(ngModel)]="descriptionValue" (blur)="isEditingDescription = false" />
  </div>
  <ng-container *ngTemplateOutlet="inputTemplate"></ng-container>
</nz-card>
